@charset "UTF-8";
@import url(./reset.css);
@import url(./fonts.css);



*{   width:100%; height: 100%;  font-family: 'SUIT';}
html, body { color: #fff;    }


.wrap{ position: relative; }
.wrap .gap { position: relative; }


#discountCoupon { position: relative;  max-width:450px;width:100%; height: 100%; background: #fff; margin: 0 auto;display: block; }
#discountCoupon .TopContainer { width:100%; max-width:450px; margin:0 auto;height:100%;  background: #fff;/* #3D3F84; */ }

#discountCoupon .TopContainer .container{width:100%; padding: 0; } 

#discountCoupon .TopContainer .container .top { padding:0 18px; display: flex; }
#discountCoupon .TopContainer .container .top>li{width: 33.333%; display:inline-block; padding:14px 0 11px 0 ; }
/*  header left */
#discountCoupon .TopContainer .container .top>.left .leftWrap {  width: 100%; }
#discountCoupon .TopContainer .container .top>.left .leftWrap .backBtn { width:25px;   }
#discountCoupon .TopContainer .container .top>.left .leftWrap .backBtn a { width:100%;  padding:1px 0; }
#discountCoupon .TopContainer .container .top>.left .leftWrap .backBtn a span { width:100%;height:18px; display: inline-block;}

/* header medium */
#discountCoupon .TopContainer .container .top>.medium {text-align: center; color: #1A1A1A; font-size: 18px;font-weight: 400; white-space: nowrap; }

/* header  right */
#discountCoupon .TopContainer .container .top>.right #aside {width: 100%;  }
#discountCoupon .TopContainer .container .top>.right #aside .icon-box-gap { width:100%;  }
#discountCoupon .TopContainer .container .top>.right #aside .icon-box-gap .icon-box {  width:100%;  }
#discountCoupon .TopContainer .container .top>.right #aside .icon-box-gap .icon-box ul{float: right; box-sizing: border-box;white-space: nowrap;   }
#discountCoupon .TopContainer .container .top>.right #aside .icon-box-gap .icon-box ul li { padding: 0 5px; text-align: center;display:inline-block; }
#discountCoupon .TopContainer .container .top>.right #aside .icon-box-gap .icon-box ul li a  { width:15px; }
#discountCoupon .TopContainer .container .top>.right #aside .icon-box-gap .icon-box ul li a img { color:#1A1A1A;width:15px; float: right;   }

/* 쿠폰등록하기버튼 */
#discountCoupon .TopContainer .plusBtn {width: 100%; padding: 14px 18px 11px 18px; border-bottom: 7px solid #E9E9E9;} 
#discountCoupon .TopContainer .plusBtn a {width: 100%; text-align:center;color: #1A1A1A; font-size: 16px; font-weight: 400; padding: 12px 0; display: block; border:1px solid #CCCCCC; border-radius: 6px;} 
#discountCoupon .TopContainer .plusBtn a span {width: 12.13px; } 
#discountCoupon .TopContainer .plusBtn a span img {width: 12.13px;margin: -5px 6px 0 0;} 


/* 탭버튼 */
#discountCoupon >.TopContainer .reviewBtn {display: block; width: 100%;  font-family: 'SUIT';} 
#discountCoupon >.TopContainer .reviewBtn ul{ display: flex;text-align: center; margin: 0;} 
#discountCoupon >.TopContainer .reviewBtn ul li{display: inline-block;} 
#discountCoupon >.TopContainer .reviewBtn ul li:focus a{border-bottom: 2px solid #E7342C;}
#discountCoupon >.TopContainer .reviewBtn ul li.addfocus a{border-bottom: 2px solid #E7342C;}
#discountCoupon >.TopContainer .reviewBtn ul li a{ color: #565656; font-weight: 400; font-size: 16px; text-decoration: none; padding: 12px 0; width: 100%; display: block; border-bottom:1px solid #E2E2E2;} 
#discountCoupon >.TopContainer .reviewBtn ul li a .red{ vertical-align: baseline;} 
#discountCoupon >.TopContainer .reviewBtn ul li.addfocus a{ color: #1a1a1a; font-weight: 700; font-size: 16px; text-decoration: none; padding: 12px 0; width: 100%; display: block; } 
#discountCoupon >.TopContainer .reviewBtn ul li.addfocus a .red{ color: #E7342C; vertical-align: baseline;} 











/* 상품할인쿠폰 내용리스트  */
#discountCoupon >.TopContainer .discountCouponCon { width: 100%; display:block; padding: 0 18px ;}
#discountCoupon >.TopContainer .discountCouponCon.tabReview1 { display:none;  }
#discountCoupon >.TopContainer .discountCouponCon .discountCouponList { width: 100%; font-family: 'SUIT';}


/* 상품할인쿠폰 하단 */
#discountCoupon >.TopContainer .discountCouponCon .discountCouponList .discountCouponWrap { display: block;   }
#discountCoupon >.TopContainer .discountCouponCon .discountCouponList .discountCouponWrap.reviewCon1  { display: none;   }
#discountCoupon >.TopContainer .discountCouponCon .discountCouponList .discountCouponWrap .boxBottomWrap { width: 100%; }
#discountCoupon >.TopContainer .discountCouponCon .discountCouponList .discountCouponWrap .boxBottomWrap .box:first-child {  padding:13px 0 20px 0  ;}
#discountCoupon >.TopContainer .discountCouponCon .discountCouponList .discountCouponWrap .boxBottomWrap .box {  padding:20px 0 20px 0  ; border-bottom:1px solid #E2E2E2 ;}
#discountCoupon >.TopContainer .discountCouponCon .discountCouponList .discountCouponWrap .boxBottomWrap .box:last-child { border-bottom:0 ;  padding-bottom: 120px;}

#discountCoupon >.TopContainer .discountCouponCon .discountCouponList .discountCouponWrap .boxBottomWrap .brandWrap {display: block;  padding-bottom: 20px;}
#discountCoupon >.TopContainer .discountCouponCon .discountCouponList .discountCouponWrap .boxBottomWrap .brandWrap p {display: block; font-size:12px ; color: #909090;}
#discountCoupon >.TopContainer .discountCouponCon .discountCouponList .discountCouponWrap .boxBottomWrap .brandWrap1 { width: 100%; }
#discountCoupon >.TopContainer .discountCouponCon .discountCouponList .discountCouponWrap .boxBottomWrap .brandWrap .txt2 {display: flex;  }
#discountCoupon >.TopContainer .discountCouponCon .discountCouponList .discountCouponWrap .boxBottomWrap .brandWrap .txt2 .txt2Left{ position:relative; margin-right: 12px; width: 80px;}
#discountCoupon >.TopContainer .discountCouponCon .discountCouponList .discountCouponWrap .boxBottomWrap .brandWrap .txt2 .txt2Left a{ width: 100%; width: 80px;position:relative; }
#discountCoupon >.TopContainer .discountCouponCon .discountCouponList .discountCouponWrap .boxBottomWrap .brandWrap .txt2 .txt2Left a img{ width: 100%;min-width: 80px; }
#discountCoupon >.TopContainer .discountCouponCon .discountCouponList .discountCouponWrap .boxBottomWrap .brandWrap .txt2 .txt2Left .imgCap { position: absolute; top: 0;left: 0; border-radius: 6px;background: rgba(0,0,0, .5);}
#discountCoupon >.TopContainer .discountCouponCon .discountCouponList .discountCouponWrap .boxBottomWrap .brandWrap .txt2 .txt2Left .imgCap a { width: 100%; max-width: 80px; }
#discountCoupon >.TopContainer .discountCouponCon .discountCouponList .discountCouponWrap .boxBottomWrap .brandWrap .txt2 .txt2Left .imgCap a img { padding:11px; width: 80px;}


#discountCoupon >.TopContainer .discountCouponCon .discountCouponList .discountCouponWrap .boxBottomWrap .brandWrap .txt2 .txt2Right{display: block; width: 100%;}

#discountCoupon >.TopContainer .discountCouponCon .discountCouponList .discountCouponWrap .boxBottomWrap .brandWrap .txt2 .txt2Right .txt2Right_txt2 {color: #1a1a1a; font-weight: 400; font-size: 14px;  }

#discountCoupon >.TopContainer .discountCouponCon .discountCouponList .discountCouponWrap .boxBottomWrap .brandWrap .txt2 .txt2Right .txt2Right_txt3 {width: 100%; padding: 8px 0 0 0; display: flex;line-height: 140%;}
#discountCoupon >.TopContainer .discountCouponCon .discountCouponList .discountCouponWrap .boxBottomWrap .brandWrap .txt2 .txt2Right .txt2Right_txt3 .txt3_sub1{ font-size: 14px; font-weight: 700; color: #1a1a1a; padding-right: 6px;  display: inline-block; width: auto; white-space: nowrap;}
#discountCoupon >.TopContainer .discountCouponCon .discountCouponList .discountCouponWrap .boxBottomWrap .brandWrap .txt2 .txt2Right .txt2Right_txt3 .txt3_sub2{ font-size: 12px; font-weight: 400; color: #1a1a1a;display: inline-block;vertical-align: baseline; }
#discountCoupon >.TopContainer .discountCouponCon .discountCouponList .discountCouponWrap .boxBottomWrap .brandWrap .txt2 .txt2Right .txt2Right_txt3 .txt3_sub3{margin: auto 0 auto auto; display: inline-block; }
#discountCoupon >.TopContainer .discountCouponCon .discountCouponList .discountCouponWrap .boxBottomWrap .brandWrap .txt2 .txt2Right .txt2Right_txt3 .txt3_sub3 a{   text-decoration: none;font-size: 12px; font-weight: 400; color: #1a1a1a; padding:5px 8px ; border-radius: 4px; border: 1px solid #E2E2E2;}


/*셀렉트박스 비활성화 */
#discountCoupon >.TopContainer .discountCouponCon .discountCouponList .discountCouponWrap .boxBottomWrap .brandWrap .selectCouponBox  {padding-top: 18px;}
#discountCoupon >.TopContainer .discountCouponCon .discountCouponList .discountCouponWrap .boxBottomWrap .brandWrap .selectCouponBox .selectBoxNone {margin: 0 auto ;  position: relative; width: 100%; height:38px; display: block;   border: 1px solid #E2E2E2; border-radius: 4px;}
/*  비활성화  탭버튼 화살표 내리면 나오는거 */
#discountCoupon >.TopContainer .discountCouponCon .discountCouponList .discountCouponWrap .boxBottomWrap .brandWrap .selectCouponBox .selectBoxNone .mobileTabNone {display: block;box-sizing: border-box; text-decoration:none; }
#discountCoupon >.TopContainer .discountCouponCon .discountCouponList .discountCouponWrap .boxBottomWrap .brandWrap .selectCouponBox .selectBoxNone .mobileTabNone .tab-wrapNone{position:relative;z-index:4; display:block;width:100%;box-sizing:border-box;}
/*  비활성화 탭버튼  */
#discountCoupon >.TopContainer .discountCouponCon .discountCouponList .discountCouponWrap .boxBottomWrap .brandWrap .selectCouponBox .selectBoxNone .mobileTabNone .tab-wrapNone>a{ font-size:14px; position:relative; display:block;padding-top: 2px; color: #1a1a1a; text-decoration: none; text-align:left;text-indent: 14px; padding-top: 8px;  border-radius:4px;background:#F9F9F9 url(../img/arrow_open_lightGray.svg) no-repeat 95% 50%; }








/*셀렉트박스 */
#discountCoupon >.TopContainer .discountCouponCon .discountCouponList .discountCouponWrap .boxBottomWrap .brandWrap .selectCouponBox .selectBox {margin: 0 auto ;  position: relative; width: 100%; height:38px; display: block;   border: 1px solid #E2E2E2; border-radius: 4px;}
/*   탭버튼 화살표 내리면 나오는거 */
#discountCoupon >.TopContainer .discountCouponCon .discountCouponList .discountCouponWrap .boxBottomWrap .brandWrap .selectCouponBox .selectBox .mobileTab{display: block;box-sizing: border-box; text-decoration:none; }
#discountCoupon >.TopContainer .discountCouponCon .discountCouponList .discountCouponWrap .boxBottomWrap .brandWrap .selectCouponBox .selectBox .mobileTab .tab-wrap{position:relative;z-index:4; display:block;width:100%;box-sizing:border-box;}
/* 탭버튼  */
#discountCoupon >.TopContainer .discountCouponCon .discountCouponList .discountCouponWrap .boxBottomWrap .brandWrap .selectCouponBox .selectBox .mobileTab .tab-wrap>a{ font-size:14px; position:relative; display:block; padding-top: 2px; color: #1a1a1a; text-decoration: none; text-align:left;text-indent: 14px; padding-top: 8px; background: url(../img/ico_option_arrow1.svg) no-repeat 95% 50%; text-overflow: ellipsis;}
#discountCoupon >.TopContainer .discountCouponCon .discountCouponList .discountCouponWrap .boxBottomWrap .brandWrap .selectCouponBox .selectBox .mobileTab .tab-wrap>a.addFamily{ background:  url(../img/ico_option_arrow2.svg) no-repeat 98% 50%;  }
/* 탭버튼 누르면 나오는 메뉴 내용들 */
#discountCoupon >.TopContainer .discountCouponCon .discountCouponList .discountCouponWrap .boxBottomWrap .brandWrap .selectCouponBox .selectBox .mobileTab .tab-wrap>ul.tab{display:block;z-index:1; background:#fff;width:100%; height: auto;  position:absolute; top:37px; margin:0;  box-sizing:border-box;border:1px solid #E2E2E2; border-radius: 6px;}
#discountCoupon >.TopContainer .discountCouponCon .discountCouponList .discountCouponWrap .boxBottomWrap .brandWrap .selectCouponBox .selectBox .mobileTab .tab-wrap>ul.tab>li{width:100%;display:block;box-sizing:border-box; padding: 7px 7px;font-size:14px; }
#discountCoupon >.TopContainer .discountCouponCon .discountCouponList .discountCouponWrap .boxBottomWrap .brandWrap .selectCouponBox .selectBox .mobileTab .tab-wrap>ul.tab>li:last-child{ border:0 ;}
#discountCoupon >.TopContainer .discountCouponCon .discountCouponList .discountCouponWrap .boxBottomWrap .brandWrap .selectCouponBox .selectBox .mobileTab .tab-wrap>ul.tab>li>a{ color:#1a1a1a; font-size:14px; text-decoration: none;}
#discountCoupon >.TopContainer .discountCouponCon .discountCouponList .discountCouponWrap .boxBottomWrap .brandWrap .selectCouponBox .selectBox .mobileTab .tab-wrap>ul.tab>li:hover{background: #F4F4F4;}
#discountCoupon >.TopContainer .discountCouponCon .discountCouponList .discountCouponWrap .boxBottomWrap .brandWrap .selectCouponBox .selectBox .mobileTab .tab-wrap>ul.tab>li>a div { display: block;   }
#discountCoupon >.TopContainer .discountCouponCon .discountCouponList .discountCouponWrap .boxBottomWrap .brandWrap .selectCouponBox .selectBox .mobileTab .tab-wrap>ul.tab>li>a div.option {text-align: left;}




/* 빨간글씨 */
#discountCoupon >.TopContainer .discountCouponCon .discountCouponList .discountCouponWrap .boxBottomWrap .brandWrap .txt2 .txt2Right .redTxt{color:#E7342C ; line-height: 20px; padding-top: 4px; }
#discountCoupon >.TopContainer .discountCouponCon .discountCouponList .discountCouponWrap .boxBottomWrap .brandWrap .txt2 .txt2Right .redTxt strong { font-weight:700; vertical-align: baseline; }

#discountCoupon >.TopContainer .discountCouponCon .discountCouponList .discountCouponWrap .boxBottomWrap .brandWrap .txt2 .txt2Right_txtBlue  {width: 100%;}
#discountCoupon >.TopContainer .discountCouponCon .discountCouponList .discountCouponWrap .boxBottomWrap .brandWrap .txt2 .txt2Right_txtBlue ul {display: flex;}
#discountCoupon >.TopContainer .discountCouponCon .discountCouponList .discountCouponWrap .boxBottomWrap .brandWrap .txt2 .txt2Right_txtBlue ul li {line-height:100%;color: #187AEF; display: inline-block;padding: 0; font-size: 12px; font-weight: 400; width: auto;}
#discountCoupon >.TopContainer .discountCouponCon .discountCouponList .discountCouponWrap .boxBottomWrap .brandWrap .txt2 .txt2Right_txtBlue ul li i {color: #D8D8D8;}


/* 상품할인쿠폰 하단 회색박스 */
#discountCoupon >.TopContainer .discountCouponCon .discountCouponList .discountCouponWrap .boxBottomWrap .grayBox {  background: #F9F9F9; border-radius: 6px; text-align: center; padding: 10px 0;  font-family: 'SUIT';}
#discountCoupon >.TopContainer .discountCouponCon .discountCouponList .discountCouponWrap .boxBottomWrap .grayBox div { font-size: 14px; color: #797979; font-weight: 400;  line-height: 170%;}
#discountCoupon >.TopContainer .discountCouponCon .discountCouponList .discountCouponWrap .boxBottomWrap .grayBox div strong{ vertical-align: baseline; }
#discountCoupon >.TopContainer .discountCouponCon .discountCouponList .discountCouponWrap .boxBottomWrap .grayBox div .redDis{color:#E7342C ; vertical-align: baseline;}




/* 취소 쿠폰적용 버튼 */
 .btncon  {display: block; z-index: 5; position: fixed; bottom:0;  background: #fff; height:auto; }
 .btncon .btnWrap { display: flex;}
 .btncon .btnWrap div {   text-align: center; padding:12px 0 ;  border-top: 1px solid #E7342C; }
 .btncon .btnWrap div.wh  { width:100%;}
 .btncon .btnWrap div.wh a{  color: #1A1A1A; }
 .btncon .btnWrap div.red { height: 100%; background: #E7342C; border-bottom: 1px solid #E7342C;}
 .btncon .btnWrap div.red a{   color: #fff;  }
 .btncon .btnWrap div a { font-family: 'SUIT'; font-weight: 700; font-size: 16px; }











/* 주문할인쿠폰 4 내용리스트 */
#discountCoupon >.TopContainer .orderCon  { width: 100%; display:block; padding: 13px 18px 0 18px ;  }
#discountCoupon >.TopContainer .orderCon.tabReview2 { display:none;  }
#discountCoupon >.TopContainer .orderCon .orderList { width: 100%; font-family: 'SUIT';  }
/* 주문할인쿠폰 4 하단 */
#discountCoupon >.TopContainer .orderCon .orderList .orderWrap { display: block;}
#discountCoupon >.TopContainer .orderCon .orderList .orderWrap p {display: block; font-size:12px ;margin-bottom:22px;color: #909090;}


/* 쿠폰팝업 */
#discountCoupon >.TopContainer .orderCon .orderList .orderWrap .subTitle { display:flex; margin: 0 auto; }
#discountCoupon >.TopContainer .orderCon .orderList .orderWrap .subTitle h2 {color: #1a1a1a; font-size: 18px; font-weight: 700; text-align: left; }


/* 셀렉트박스 */
#discountCoupon >.TopContainer .orderCon .orderList .orderWrap .subTitle .selectBox {margin:auto 0 auto auto; position: relative; width: 105px; height:25px; display: block; margin-bottom: 10px; }
/*   탭버튼 화살표 내리면 나오는거 */
#discountCoupon >.TopContainer .orderCon .orderList .orderWrap .subTitle .selectBox .mobileTab{display: block;box-sizing: border-box; text-decoration:none; }
#discountCoupon >.TopContainer .orderCon .orderList .orderWrap .subTitle .selectBox .mobileTab .tab-wrap{position:relative;z-index:4; display:block;width:100%;box-sizing:border-box;}
/* 탭버튼  */
#discountCoupon >.TopContainer .orderCon .orderList .orderWrap .subTitle .selectBox .mobileTab .tab-wrap>a{ position:relative; display:block; width:100%;white-space: nowrap;  color: #1a1a1a; padding:3px 0 5px 0; text-indent:5px;font-size:12px;text-decoration: none; text-align:left; background: url(../img/ico_option_arrow1.svg) no-repeat 98% 50%; }
#discountCoupon >.TopContainer .orderCon .orderList .orderWrap .subTitle .selectBox .mobileTab .tab-wrap>a.addFamily{ background:  url(../img/ico_option_arrow2.svg) no-repeat 98% 50%;  }
/* 탭버튼 누르면 나오는 메뉴 내용들 */
#discountCoupon >.TopContainer .orderCon .orderList .orderWrap .subTitle .selectBox .mobileTab .tab-wrap>ul.tab{display:block;z-index:1; background:#fff;width:100%; height: auto; padding:5px 0; position:absolute; top:25px; margin:0;  box-sizing:border-box;border:1px solid #E2E2E2; border-radius: 6px;}
#discountCoupon >.TopContainer .orderCon .orderList .orderWrap .subTitle .selectBox .mobileTab .tab-wrap>ul.tab>li{width:100%;display:block;box-sizing:border-box; padding: 5px 0;}
#discountCoupon >.TopContainer .orderCon .orderList .orderWrap .subTitle .selectBox .mobileTab .tab-wrap>ul.tab>li:last-child{ border:0 ;}
#discountCoupon >.TopContainer .orderCon .orderList .orderWrap .subTitle .selectBox .mobileTab .tab-wrap>ul.tab>li>a{ color:#1a1a1a; font-size:12px; text-decoration: none;  }
#discountCoupon >.TopContainer .orderCon .orderList .orderWrap .subTitle .selectBox .mobileTab .tab-wrap>ul.tab>li>a:hover{color:#E7342C;}
#discountCoupon >.TopContainer .orderCon .orderList .orderWrap .subTitle .selectBox .mobileTab .tab-wrap>ul.tab>li>a div { display: block;   }
#discountCoupon >.TopContainer .orderCon .orderList .orderWrap .subTitle .selectBox .mobileTab .tab-wrap>ul.tab>li>a div.option { text-align: center;  }





/* 쿠폰들 */
#discountCoupon >.TopContainer .orderCon .orderList .orderWrap> ul { display:inline-block; width: 100%; margin: 0 auto; }
#discountCoupon >.TopContainer .orderCon .orderList .orderWrap> ul> li { display:block; padding:14px 0 0 0 ; text-align: center; }
#discountCoupon >.TopContainer .orderCon .orderList .orderWrap> ul> li:last-child {  padding-bottom: 125px; }
#discountCoupon >.TopContainer .orderCon .orderList .orderWrap> ul> li>.inputBox {  position:relative;display:inline-block;  width:100%; height: 114px;   }
#discountCoupon >.TopContainer .orderCon .orderList .orderWrap> ul> li>.inputBox>a {display: flex; font-family: 'SUIT';}
#discountCoupon >.TopContainer .orderCon .orderList .orderWrap> ul> li>.inputBox>a>div {display: inline-block;}

#discountCoupon >.TopContainer .orderCon .orderList .orderWrap> ul> li>.inputBox>a>div.check{ width:22px; position: relative;z-index:3;}
#discountCoupon >.TopContainer .orderCon .orderList .orderWrap> ul> li>.inputBox>a>div input[type=checkbox] {margin:0;  background: url(../img/ico_uncheck_my.svg) no-repeat 50% 50%; width:22px; position: absolute; top:0; left:0;display: inline-block; appearance: none;  outline: none;   }
#discountCoupon >.TopContainer .orderCon .orderList .orderWrap> ul> li>.inputBox>a>div input[type=checkbox]:checked {background: url(../img/ico_check_my.svg) no-repeat 50% 50%; width:22px;  }

#discountCoupon >.TopContainer .orderCon .orderList .orderWrap> ul> li>.inputBox>a>div.couponTxt {  margin-left:10px;position: relative;z-index:2; padding:10px 10px 10px 20px; width: 100%; border: 1px solid #E7342C ;  border-radius:6px 0 0 6px; }
#discountCoupon >.TopContainer .orderCon .orderList .orderWrap> ul> li>.inputBox>a>div.couponTxt::before { content:''; z-index:1;position: absolute; top:50%; margin-top: -12px; left:0; margin-left: -1px; display: block;  width: 12px;  height: 26px; background:#fff url(../img/halfCircle.svg) no-repeat 50% 50%;   }
#discountCoupon >.TopContainer .orderCon .orderList .orderWrap> ul> li>.inputBox>a>div.couponTxt p { margin:0; height: auto; text-align: left; display: block; white-space: nowrap;text-overflow:ellipsis; overflow:hidden }
#discountCoupon >.TopContainer .orderCon .orderList .orderWrap> ul> li>.inputBox>a>div.couponTxt .redPrice {font-size: 26px; font-weight: 700; color:#E7342C ; }
#discountCoupon >.TopContainer .orderCon .orderList .orderWrap> ul> li>.inputBox>a>div.couponTxt .redPrice .small { font-size: 20px; }
#discountCoupon >.TopContainer .orderCon .orderList .orderWrap> ul> li>.inputBox>a>div.couponTxt .eventName { color: #1A1A1A; font-size: 14px;;}
#discountCoupon >.TopContainer .orderCon .orderList .orderWrap> ul> li>.inputBox>a>div.couponTxt .date { color:#797979 ; font-size: 12px; }

#discountCoupon >.TopContainer .orderCon .orderList .orderWrap> ul> li>.inputBox>a>div.couponRed { width: 40px; border-radius:0 6px 6px 0;  background: #E7342C; padding:0 10px;  }
#discountCoupon >.TopContainer .orderCon .orderList .orderWrap> ul> li>.inputBox>a>div.couponRed p { text-align: center;writing-mode: vertical-rl; text-orientation: mixed; color: #FFFFFF; transform:rotate(180deg); font-family: 200; letter-spacing: 6px; font-size: 12px; }






/* 취소 쿠폰적용 버튼 */
#discountCoupon >.TopContainer .orderCon .orderList .orderWrap .btncon  {display: block; z-index: 5; position: fixed; bottom:0;max-width:450px;width: 100%; background: #fff;height:auto; }
#discountCoupon >.TopContainer .orderCon .orderList .orderWrap .btncon .btnWrap { display: flex;}
#discountCoupon >.TopContainer .orderCon .orderList .orderWrap .btncon .btnWrap div {  text-align: center; padding:12px 0 ;  border-top: 1px solid #E7342C; }
#discountCoupon >.TopContainer .orderCon .orderList .orderWrap .btncon .btnWrap div.wh  { width:100%; }
#discountCoupon >.TopContainer .orderCon .orderList .orderWrap .btncon .btnWrap div.wh a{  color: #1A1A1A; }
#discountCoupon >.TopContainer .orderCon .orderList .orderWrap .btncon .btnWrap div.red {  background: #E7342C; }
#discountCoupon >.TopContainer .orderCon .orderList .orderWrap .btncon .btnWrap div.red a{   color: #fff;  }
#discountCoupon >.TopContainer .orderCon .orderList .orderWrap .btncon .btnWrap div a { font-family: 'SUIT'; font-weight: 700; font-size: 16px; }














/* 모달창 */
#modal {display:none; z-index:5; position:fixed; top:0; left: 0; background: rgba(0,0,0, .7); width: 100%; height: 100%;}
#modal.modalShow {display:block; z-index:5; position:fixed; top:0; left: 0; background: rgba(0,0,0, .7); width: 100%; height: 100%;}
#modal .modalWrap { display: block; position:relative; top:0; margin-top:60%; left: 50%; margin-left:-164px; background:#fff;  width: 328px; height: auto; border-radius: 6px; }
#modal .modalWrap .modalGap { width: 100%;}
#modal .modalWrap .modalGap .modalContent{width: 100%;text-align: center; }
#modal .modalWrap .modalGap .modalContent .txt{width: 100%; color: #1a1a1a; font-size: 14px; display: block ; padding: 40px 0 30px 0;font-weight: 400;}
#modal .modalWrap .modalGap .modalContent .okBtn {width: 100%; border-top:1px solid #E2E2E2; }
#modal .modalWrap .modalGap .modalContent .okBtn a {color: #E7342C; font-size: 16px; font-weight: 400;background: #F9F9F9;padding:12px 0 ; display: block;border-radius:0 0 6px 6px; }






