
@charset "UTF-8";
@import url(./reset.css);
@import url(./fonts.css);



#wrap1 { position: relative; width:100%; max-width:450px; margin:0 auto;display: block; height:100%; background: #fff;  }
#wrap1>#header { width:100%; max-width:450px; margin:0 auto;height:100%;  background: #fff;/* #3D3F84; */  }
#wrap1>#header.addHeader {  border-bottom: 1px solid #E6E6E6; }
#wrap1>#header .container{width:100%; padding: 0; } 

#wrap1>#header .container .top { padding:0 18px; display: flex; }
#wrap1>#header .container .top>li{width: 33.333%; display:inline-block; padding:14px 0 0 0 ; }
/*  header left */
#wrap1>#header .container .top>.left .leftWrap {  width: 100%; }
#wrap1>#header .container .top>.left .leftWrap .backBtn { width:25px;   }
#wrap1>#header .container .top>.left .leftWrap .backBtn a { width:100%;  padding:1px 0; }
#wrap1>#header .container .top>.left .leftWrap .backBtn a span { background:  url(../img/back.svg) no-repeat 0% 100%;  background-size:contain; width:100%;height:18px; display: inline-block;}

/* header medium */
#wrap1>#header .container .top>.medium {text-align: center; color: #1A1A1A; font-size: 18px;font-weight: 400; white-space: nowrap; }

/* header  right */
#wrap1>#header .container .top>.right #aside {width: 100%;  }
#wrap1>#header .container .top>.right #aside .icon-box-gap { width:100%;  }
#wrap1>#header .container .top>.right #aside .icon-box-gap .icon-box {  width:100%;  }
#wrap1>#header .container .top>.right #aside .icon-box-gap .icon-box ul{float: right; box-sizing: border-box;white-space: nowrap;   }
#wrap1>#header .container .top>.right #aside .icon-box-gap .icon-box ul li { padding: 0 5px; text-align: center;display:inline-block; }
#wrap1>#header .container .top>.right #aside .icon-box-gap .icon-box ul li a  { width:23.5px; }
#wrap1>#header .container .top>.right #aside .icon-box-gap .icon-box ul li a img { color:#1A1A1A;  }
#wrap1>#header .container .top>.right #aside .icon-box-gap .icon-box ul li a em {padding:4.9px 4px; width:20px; height:20px; position:absolute; z-index:2; top:7px; right:14px; font-weight: 200; background-color: #E7342C; border-radius: 50%; font-size: 11px;box-sizing: border-box;line-height: 11px;}










#main  {width: 100%; height: auto;  font-family: 'SUIT'; }

/* 내용리스트 */
#main .customerCon { position: relative; width: 100%; height:auto ;display:block;}
#main .customerCon.tab1Delect { display:block;  }
#main .customerCon .FAQWrap { width: 100%; font-family: 'SUIT'; padding: 20px 18px 20px 18px;   }
#main .customerCon .FAQWrap .FAQ {width: 100%; }
/* FAQ  title */
#main .customerCon .FAQWrap .FAQ .title {font-size: 16px; color: #1a1a1a; font-weight: 700; padding-bottom: 10px;}
#main .customerCon .FAQWrap .FAQ .title span { display: inline-block;  float:right;  }	
#main .customerCon .FAQWrap .FAQ .title span a{ font-size: 12px; color:#797979; font-weight: 400; }
#main .customerCon .FAQWrap .FAQ .title span a i{ font-size: 15px; color:#797979; font-weight: 300; margin-bottom: 1px;}
/* 상단 질문을 검색 인풋박스  */
#main .customerCon .FAQWrap .FAQ .search {width:100%;}
#main .customerCon .FAQWrap .FAQ .search .searchBox1 {width: 100%; position: relative;}
#main .customerCon .FAQWrap .FAQ .search .searchBox1 input {z-index: 1; position: relative; width: 100%;  outline: none; border:1px solid #E2E2E2 ;  border-radius: 6px; }
#main .customerCon .FAQWrap .FAQ .search .searchBox1 input[type=text] { appearance: none; text-indent: 12px; width: 100%; height: 48px;  outline: none;  display:block;  background:none url(../img/btn_x_faq.svg) no-repeat 91% 50%; }
#main .customerCon .FAQWrap .FAQ .search .searchBox1 input[type=text]:focus {  background:  url(../img/btn_x_faq.svg) no-repeat 90% 50%; display:block; }
#main .customerCon .FAQWrap .FAQ .search .searchBox1 input::placeholder { color:#797979; font-size:14px;}
#main .customerCon .FAQWrap .FAQ .search .searchBox1 .magni {position:absolute; z-index: 5; top:16px; right:14px; display: inline-block;}
#main .customerCon .FAQWrap .FAQ .search .searchBox1 .magni a i{ background: url(../img/customer_ico_search1.svg) no-repeat 50% 50%; height:15px; display:block; width: 14.64px;}
#main .customerCon .FAQWrap .FAQ .search .searchBox1 .magni.addred a i{ background: url(../img/redmagni.svg) no-repeat 50% 50%; height:15px; display:block; width: 14.64px;}
/* btn box */
#main .customerCon .FAQWrap .btnBox {width:100%; padding: 20px 0 0 0;}
#main .customerCon .FAQWrap .btnBox ul { display:flex;width:100%; margin:0;}
#main .customerCon .FAQWrap .btnBox .Btn1Wrap { padding-bottom: 6px;}
#main .customerCon .FAQWrap .btnBox ul li{ width:33.333%;}
#main .customerCon .FAQWrap .btnBox ul li:nth-child(2){margin:0 6px;  width:33.333%;}
#main .customerCon .FAQWrap .btnBox ul li a { text-align: center; background: #E2E2E2; text-align: center; font-size: 14px; font-weight: 400; color:#1a1a1a;padding:5px 0; line-height:160%;border-radius: 6px; width: 100%; display: block;  }
#main .customerCon .FAQWrap .btnBox ul .btn1 a { background: #E2E2E2; font-weight: 700; background: #E7342C; color: #fff;  }

/* top5 title */
#main .customerCon .TOP5Wrap { width: 100%; }
#main .customerCon .TOP5Wrap .TOP5 {width: 100%; border-bottom: 1px solid #F4F4F4; padding: 0 18px 0 18px;}
#main .customerCon .TOP5Wrap .TOP5 .title {font-size: 16px; color: #1a1a1a; font-weight: 700; padding-bottom: 10px; }
#main .customerCon .TOP5Wrap .TOP5 .title span { float:right;font-size: 14px; color: #909090; font-weight: 400;  }
/* 리스트 */
#main .customerCon .TOP5Wrap .listBox {width: 100%;}
#main .customerCon .TOP5Wrap .listBox .listWrap {width: 100%;}
#main .customerCon .TOP5Wrap .listBox .listWrap li {  padding: 0 18px 0 18px;border-bottom: 1px solid #F4F4F4;}
#main .customerCon .TOP5Wrap .listBox .listWrap li .ask { display: flex; }
#main .customerCon .TOP5Wrap .listBox .listWrap li .ask .left { display: flex; padding: 15px 0;}
#main .customerCon .TOP5Wrap .listBox .listWrap li .ask .left span { width: 12px; margin-left: 6px;}
#main .customerCon .TOP5Wrap .listBox .listWrap li .ask .left span img{ width: 100%;}
#main .customerCon .TOP5Wrap .listBox .listWrap li .ask .right { margin:auto 0 auto auto;}
#main .customerCon .TOP5Wrap .listBox .listWrap li .ask .right span {width: 26px;}
#main .customerCon .TOP5Wrap .listBox .listWrap li .ask .right span i {background: url(../img/cs_arrow_open.svg) no-repeat 50% 50%; background-size: contain; width: 26px;height:22px; display: block;}
#main .customerCon .TOP5Wrap .listBox .listWrap li .ask .right span i.addClose {background: url(../img/arrow_close.svg) no-repeat 50% 50%; background-size: contain; width: 26px;height:22px; display: block;}
#main .customerCon .TOP5Wrap .listBox .listWrap li .answer {display: block; padding-bottom: 20px;}
#main .customerCon .TOP5Wrap .listBox .listWrap li .answer.addhid {display:none;}
#main .customerCon .TOP5Wrap .listBox .listWrap li .answer p {background: #F4F4F4; color: #1a1a1a; font-size: 14px; border-radius: 6px; width: 100%;padding: 12px 16px; line-height: 150%; margin:0;}
