
@charset "UTF-8";
@import url(./reset.css);
@import url(./fonts.css);



#wrap1 { position: relative; width:100%; max-width:450px; margin:0 auto;display: block; height:100vh; background: #fff;  }
#wrap1>#header { width:100%; max-width:450px; margin:0 auto;  background: #fff;/* #3D3F84; */  }
#wrap1>#header.addHeader {  border-bottom: 1px solid #E6E6E6; }
#wrap1>#header .container{width:100%; padding: 0; } 

#wrap1>#header .container .top { padding:0 18px; display: flex; }
#wrap1>#header .container .top>li{width: 33.333%; display:inline-block; padding:14px 0 0 0 ; }
/*  header left */
#wrap1>#header .container .top>.left .leftWrap {  width: 100%; }
#wrap1>#header .container .top>.left .leftWrap .backBtn { width:25px;   }
#wrap1>#header .container .top>.left .leftWrap .backBtn a { width:100%;  padding:1px 0; }
#wrap1>#header .container .top>.left .leftWrap .backBtn a span { background:  url(../img/back.svg) no-repeat 0% 100%;  background-size:contain; width:100%;height:18px; display: inline-block;}

/* header medium */
#wrap1>#header .container .top>.medium {text-align: center; color: #1A1A1A; font-size: 18px;font-weight: 400; white-space: nowrap; }

/* header  right */
#wrap1>#header .container .top>.right #aside {width: 100%;  }
#wrap1>#header .container .top>.right #aside .icon-box-gap { width:100%;  }
#wrap1>#header .container .top>.right #aside .icon-box-gap .icon-box {  width:100%;  }
#wrap1>#header .container .top>.right #aside .icon-box-gap .icon-box ul{float: right; box-sizing: border-box;white-space: nowrap;   }
#wrap1>#header .container .top>.right #aside .icon-box-gap .icon-box ul li { padding: 0 5px; text-align: center;display:inline-block; }
#wrap1>#header .container .top>.right #aside .icon-box-gap .icon-box ul li a  { width:23.5px; }
#wrap1>#header .container .top>.right #aside .icon-box-gap .icon-box ul li a img { color:#1A1A1A;  }
#wrap1>#header .container .top>.right #aside .icon-box-gap .icon-box ul li a em {padding:4.9px 4px; width:20px; height:20px; position:absolute; z-index:2; top:7px; right:14px; font-weight: 200; background-color: #E7342C; border-radius: 50%; font-size: 11px;box-sizing: border-box;line-height: 11px;}










#main  {width: 100%; height: auto;   }

/* 내용리스트 */
#main .deliveryCon { position: relative; width: 100%; height:auto ;display:block;}
#main .deliveryCon.tab1Delect { display:block;  }
#main .deliveryCon .listWrap { width: 100%; font-family: 'SUIT'; padding: 0 18px 20px 18px;   }
#main .deliveryCon .listWrap form {width: 100%;}
#main .deliveryCon .listWrap form ul {padding-top: 10px;}
#main .deliveryCon .listWrap form ul li { padding-bottom: 20px;}
/* 타이틀 input박스 위에  */
#main .deliveryCon .listWrap form ul li .title {font-size: 12px; color: #565656; font-weight: 400; padding-bottom: 8px;}
/* input box */
#main .deliveryCon .listWrap form ul li .left {width:100%;}
/* 상단 배송지명 밑에 인풋박스  */
#main .deliveryCon .listWrap form ul li .left .leftInput  { position: relative; }
#main .deliveryCon .listWrap form ul li .left .leftInput input::placeholder { position: relative;  color: #1A1A1A;}
#main .deliveryCon .listWrap form ul li .left .leftInput span { position: absolute; top:3px; left: 12px; font-size: 10px; color: #797979;}
/* 맨위 상단 아이콘 = 우리집, 회사 , 기타 */
#main .deliveryCon .listWrap form ul li .left .spot { display: flex; padding:2px 0 10px 0 ; margin-left: -6px; }
#main .deliveryCon .listWrap form ul li .left .spot  div { margin-right: 10px; border: 1px solid #fff; padding: 4px; width:41px; height: 41px;}
#main .deliveryCon .listWrap form ul li .left .spot  div.clickDelivery {border-radius: 50%; border: 1px solid #1A1A1A; padding: 3px; width:40px; height: 40px;}
#main .deliveryCon .listWrap form ul li .left .spot  div img {width: 32px; }
#main .deliveryCon .listWrap form ul li .left input { width: 100%;  outline: none; border:1px solid #E2E2E2 ;  border-radius: 6px; }
#main .deliveryCon .listWrap form ul li .left input[type=text] { appearance: none; text-indent: 12px; width: 100%; height: 48px;  outline: none;}
#main .deliveryCon .listWrap form ul li .left input::placeholder { color:#797979; font-size:14px;}
/* 주소 */
#main .deliveryCon .listWrap form ul li .address div input {margin-bottom: 8px; }
#main .deliveryCon .listWrap form ul li .address .addressBox1 {width: 100%;position: relative;}
#main .deliveryCon .listWrap form ul li .address .addressBox1>.input-box {z-index: 1;position: relative;}
#main .deliveryCon .listWrap form ul li .address .addressBox1 .magni {position:absolute;z-index: 2; top:12px; left:12px; display: inline-block;}
#main .deliveryCon .listWrap form ul li .address .addressBox1 .magni a img {width: 12.17px;}
#main .deliveryCon .listWrap form ul li .address .addressBox1 input[type=text] { appearance: none; text-indent: 30px; font-size: 14px; color: #1A1A1A;}
#main .deliveryCon .listWrap form ul li .address .addressBox1 input[type=text]::placeholder { appearance: none; text-indent: 30px; font-size: 14px; color: #1A1A1A;}
#main .deliveryCon .listWrap form ul li .address div input[type=checkbox] {margin:-2px 9px 0 0; border-radius: 0; border:0;appearance: none; background: url(../img/ico_uncheck_sm.svg) no-repeat 50% 50%;  display: inline-block; width: 16px; height: 16px; background-size: contain; outline: none;}
#main .deliveryCon .listWrap form ul li .address div input[type=checkbox]:checked {margin:-2px 9px 0 0; border:0;border-radius: 0;  appearance: none; background: url(../img/ico_check_square.svg) no-repeat 50% 50%;  display: inline-block; width: 16px; height: 16px; background-size: contain; outline: none;}





/* 하단 btn Box1 */
#main .deliveryCon .btnBoxWrap1 {display:block;   z-index:6; position:fixed;bottom:0;max-width: 450px; width:100%;height:auto; opacity:1; transition:all 1s;}
#main .deliveryCon .btnBoxWrap1.addShow { display:none;}
#main .deliveryCon .btnBoxWrap1 .btnBox {display: flex; font-family:'SUIT'; margin: 0; }
#main .deliveryCon .btnBoxWrap1 .btnBox li{ width:50%;height:60px; display: inline-block; border-top: 2px solid #CCCCCC;}
#main .deliveryCon .btnBoxWrap1 .btnBox li.addBtn{ border-top: 2px solid #E7342C;}
#main .deliveryCon .btnBoxWrap1 .btnBox li:first-child>a{ display:block; width: 100%; height: 100%;background: #fff; margin:auto;text-decoration:none; white-space: nowrap; font-size: 16px;font-weight: 400;text-align: center;padding:18px 0; color: #1a1a1a;}
#main .deliveryCon .btnBoxWrap1 .btnBox li:last-child a {color: #fff; font-weight: 700; font-size: 16px; background: #CCCCCC; text-align: center;  width: 100%; height: 100%; display: block; padding:18px 0;text-decoration:none; white-space: nowrap; }
#main .deliveryCon .btnBoxWrap1 .btnBox li.addBtn:last-child a {color: #fff; font-weight: 700; font-size: 16px; background: #E7342C; text-align: center;  width: 100%; height: 100%; display: block; padding:18px 0;text-decoration:none; white-space: nowrap; }



