
@charset "UTF-8";
@import url(./reset.css);
@import url(./fonts.css);



#wrap1 { position: relative; width:100%; max-width:450px; margin:0 auto;display: block; height:100vh;background: #f9f9f9;  }
#wrap1>#header { width:100%; max-width:450px; margin:0 auto;  background: #fff;/* #3D3F84; */  }
#wrap1>#header.addHeader {  border-bottom: 1px solid #E6E6E6; }
#wrap1>#header .container{width:100%; padding: 0; } 

#wrap1>#header .container .top { padding:0 18px; display: flex; }
#wrap1>#header .container .top>li{width: 33.333%; display:inline-block; padding:14px 0 11px 0 ; }
/*  header left */
#wrap1>#header .container .top>.left .leftWrap {  width: 100%; }
#wrap1>#header .container .top>.left .leftWrap .backBtn { width:25px;   }
#wrap1>#header .container .top>.left .leftWrap .backBtn a { width:100%;  padding:1px 0; }
#wrap1>#header .container .top>.left .leftWrap .backBtn a span { background:  url(../img/back.svg) no-repeat 0% 100%;  background-size:contain; width:100%;height:18px; display: inline-block;}

/* header medium */
#wrap1>#header .container .top>.medium {text-align: center; color: #1A1A1A; font-size: 18px;font-weight: 400; white-space: nowrap; }

/* header  right */
#wrap1>#header .container .top>.right #aside {width: 100%;  }
#wrap1>#header .container .top>.right #aside .icon-box-gap { width:100%;  }
#wrap1>#header .container .top>.right #aside .icon-box-gap .icon-box {  width:100%;  }
#wrap1>#header .container .top>.right #aside .icon-box-gap .icon-box ul{float: right; box-sizing: border-box;white-space: nowrap;   }
#wrap1>#header .container .top>.right #aside .icon-box-gap .icon-box ul li { padding: 0 5px; text-align: center;display:inline-block; }
#wrap1>#header .container .top>.right #aside .icon-box-gap .icon-box ul li a  { width:23.5px; }
#wrap1>#header .container .top>.right #aside .icon-box-gap .icon-box ul li a img { color:#1A1A1A;  }









#main  {width: 100%; height: auto;   }

/* 내용리스트 */
#main .deliveryCon { position: relative; width: 100%; height:auto ;display:block;}
#main .deliveryCon.tab1Delect { display:block;  }
#main .deliveryCon .listWrap { width: 100%; font-family: 'SUIT'; padding: 20px 18px 20px 18px;   }

 /* box */
 #main .deliveryCon .listWrap .box  {background: #fff;width: 100%; padding: 14px; margin-bottom:10px; border: 1px solid #E2E2E2; border-radius: 6px; font-family: 'SUIT'; }
 #main .deliveryCon .listWrap .box.red {border: 1px solid #E7342C; }
 #main .deliveryCon .listWrap .box .boxtxt1 {display: flex; margin: 0;}
 #main .deliveryCon .listWrap .box .boxtxt1 .blue {font-size: 12px; color: #187AEF; padding:1px 8px; border: 0.5px solid #187AEF; line-height: 140%; height: 20px; border-radius: 15px;}
 #main .deliveryCon .listWrap .box .boxtxt1 li img { width: 22px;}
 #main .deliveryCon .listWrap .box .boxtxt1 .myHome { color: #E7342C; font-weight: 700; font-size:16px; padding:0 10px 0 6px; }
 #main .deliveryCon .listWrap .box .boxtxt1 .work { color: #E84A8C; font-weight: 700; font-size:16px; padding:0 10px 0 6px; }
 #main .deliveryCon .listWrap .box .boxtxt1 .others { color: #3653EB; font-weight: 700; font-size:16px; padding:0 10px 0 6px; }
 #main .deliveryCon .listWrap .box .boxtxt1 .fixBtn  {margin:auto 0 auto auto;}
 #main .deliveryCon .listWrap .box .boxtxt1 .fixBtn a {color:#797979 ; padding:3px 8px; border:1px solid #E2E2E2; border-radius:4px;font-size: 14px;}
 #main .deliveryCon .listWrap .box .boxtxt2 {font-size:14px ;color: #1a1a1a; font-weight:700; margin: 0; padding: 6px 0 8px 0;}
 #main .deliveryCon .listWrap .box .boxtxt3 {font-size: 14px; color: #1a1a1a;}
 #main .deliveryCon .listWrap .box .boxtxt4 {display: flex;}
 #main .deliveryCon .listWrap .box .boxtxt4 div{ margin: auto 0 auto auto; color: #797979;}
 #main .deliveryCon .listWrap .box .boxtxt4 div span {margin-left: 2px; }
 #main .deliveryCon .listWrap .box .boxtxt4 div span a img { vertical-align: baseline;}



/* 배송추가 버튼 */

 #main .deliveryCon .listWrap .addPlusBox {width: 100%; display:block;margin: 0 auto;}
 #main .deliveryCon .listWrap .addPlusBox .addPlusBtn {width: 100%; display:block; text-align:center ; border: 1px solid #CCCCCC;background: #fff; border-radius: 6px; font-family: 'SUIT';}
 #main .deliveryCon .listWrap .addPlusBox .addPlusBtn a {width: 100%; color: #1a1a1a; display:block;font-size: 16px; padding: 11px 0; text-align:center; }
 #main .deliveryCon .listWrap .addPlusBox .addPlusBtn a span {width: 12.13px; margin: -5px 6px 0 0; display: inline-block;}
 #main .deliveryCon .listWrap .addPlusBox .addPlusBtn a span img {width: 12.13px;}





