
@charset "UTF-8";
@import url(./reset.css);
@import url(./fonts.css);



#wrap1 { position: relative; width:100%; max-width:450px; margin:0 auto;display: block;  background: #fff;  }
#wrap1>#header { width:100%; max-width:450px; margin:0 auto;  background: #fff;/* #3D3F84; */ padding-bottom: 14px; }
#wrap1>#header.addHeader {  border-bottom: 1px solid #E6E6E6; }
#wrap1>#header .container{width:100%; padding: 0; } 

#wrap1>#header .container .top { padding:0 18px; display: flex; }
#wrap1>#header .container .top>li{width: 33.333%; display:inline-block; padding:14px 0 0 0 ; }
/*  header left */
#wrap1>#header .container .top>.left .leftWrap {  width: 100%; }
#wrap1>#header .container .top>.left .leftWrap .backBtn { width:25px;   }
#wrap1>#header .container .top>.left .leftWrap .backBtn a { width:100%;  padding:1px 0; }
#wrap1>#header .container .top>.left .leftWrap .backBtn a span { background:  url(../img/back.svg) no-repeat 0% 100%;  background-size:contain; width:100%;height:18px; display: inline-block;}

/* header medium */
#wrap1>#header .container .top>.medium {text-align: center; text-indent:-20px;color: #1A1A1A; font-size: 18px;font-weight: 400; white-space: nowrap; }

/* header  right */
#wrap1>#header .container .top>.right #aside {width: 100%;  }
#wrap1>#header .container .top>.right #aside .icon-box-gap { width:100%;  }
#wrap1>#header .container .top>.right #aside .icon-box-gap .icon-box {  width:100%;  }
#wrap1>#header .container .top>.right #aside .icon-box-gap .icon-box ul{float: right; box-sizing: border-box;white-space: nowrap;   }
#wrap1>#header .container .top>.right #aside .icon-box-gap .icon-box ul li { padding: 0 5px; text-align: center;display:inline-block; }
#wrap1>#header .container .top>.right #aside .icon-box-gap .icon-box ul li a  { width:23.5px; }
#wrap1>#header .container .top>.right #aside .icon-box-gap .icon-box ul li a img { color:#1A1A1A;  }
#wrap1>#header .container .top>.right #aside .icon-box-gap .icon-box ul li a em {padding:4.9px 4px; width:20px; height:20px; position:absolute; z-index:2; top:7px; right:14px; font-weight: 200; background-color: #E7342C; border-radius: 50%; font-size: 11px;box-sizing: border-box;line-height: 11px;}










#main  {width: 100%; height: auto; padding-bottom: 15px;}

/* 내용리스트 */
#main .deliveryCon { position: relative; width: 100%; display:block; padding: 0 18px 0 18px; }
#main .deliveryCon.tab1Delect { display:block;  }
#main .deliveryCon .listWrap { width: 100%; font-family: 'SUIT';}
#main .deliveryCon .listWrap> ul {width: 100%; margin:0; display: flex;}
#main .deliveryCon .listWrap>.inputBox{ width: 100%; display: block; padding: 10px 0;}
#main .deliveryCon .listWrap>.inputBox input[type='text']{appearance: none;  background: url(../img/inputmagni.svg) no-repeat  97% 43%;  border-radius: 4px; border:1px solid #E2E2E2; width: 100%; height:40px;display: block;  }
#main .deliveryCon .listWrap>.inputBox input::placeholder{ font-size: 14px; color: #CCCCCC;text-indent: 10px; }
#main .deliveryCon .listWrap>.inputBox input:focus{outline: none;  background: url(../img/btn_x_faq.svg) no-repeat 97% 45%; text-indent: 10px;}
#main .deliveryCon .listWrap> ul> li {width: 48%;}
#main .deliveryCon .listWrap> ul> li:last-child { margin: auto 0 auto auto; }










/* 셀렉트박스 */
.selectBox {position: relative; width: 100%; height:40px; display: block; border-radius: 4px; border: 1px solid #E2E2E2;   }

/*   탭버튼 화살표 내리면 나오는거 */
 .selectBox .mobileTab{display: block;box-sizing: border-box; text-decoration:none; }
 .selectBox .mobileTab .tab-wrap{position:relative;z-index:4; display:block;width:100%;box-sizing:border-box;}
/* 탭버튼  */
 .selectBox .mobileTab .tab-wrap>a{ font-size:14px;  position:relative; display:block; white-space: nowrap; color: #1a1a1a; text-decoration: none; padding: 10.5px 0; text-align:left;text-indent: 10px; background: url(../img/ico_option_arrow1.svg) no-repeat 98% 45%; }
 .selectBox .mobileTab .tab-wrap>a.addFamily{ background:  url(../img/ico_option_arrow2.svg) no-repeat 98% 45%;  }
/* 탭버튼 누르면 나오는 메뉴 내용들 */
 .selectBox .mobileTab .tab-wrap>ul.tab{display:block;z-index:1; background:#fff;width:100%; height: auto; padding:5px 0; position:absolute; top:39px; margin:0;  box-sizing:border-box;border:1px solid #E2E2E2; border-radius: 6px;}
 .selectBox .mobileTab .tab-wrap>ul.tab>li{width:100%;display:block;box-sizing:border-box; padding: 5px 0;font-size:12px; }
 .selectBox .mobileTab .tab-wrap>ul.tab>li:last-child{ border:0 ;}
 .selectBox .mobileTab .tab-wrap>ul.tab>li>a{ color:#1a1a1a; font-size:12px; text-decoration: none; width:100%;display:block;}
 .selectBox .mobileTab .tab-wrap>ul.tab>li>a:hover{color:#E7342C;}
 .selectBox .mobileTab .tab-wrap>ul.tab>li>a div { display: block; white-space: nowrap; width:100%;  }
 .selectBox .mobileTab .tab-wrap>ul.tab>li>a div.option { text-align: center; display:block; width:100;}








 /* box */
 #main .deliveryCon .listWrap .box {margin-bottom: 14px; width: 100%;  border: 1px solid #E2E2E2; border-radius: 6px; font-family: 'SUIT';}
 /* box상단 */
 #main .deliveryCon .listWrap .box .boxTop {display: flex;  background: #F9F9F9; font-size: 12px;padding:11px 16px;  }
 #main .deliveryCon .listWrap .box .boxTop .boxLeft{ font-weight: 700; color: #1a1a1a;line-height: 120%; display: inline-block; }
 #main .deliveryCon .listWrap .box .boxTop .boxRight{ margin: auto 0 auto auto; color: #797979; text-align: right;line-height: 120%; display: inline-block;}
 #main .deliveryCon .listWrap .box .boxTop .boxRight span { display: inline-block; }
 #main .deliveryCon .listWrap .box .boxTop .boxRight span i { color: #797979;font-size: 15px; font-weight: 400; vertical-align:bottom;}
 /* box하단 */
 #main .deliveryCon .listWrap .box .boxBottom { padding:20px 16px 18px 16px; margin: 0;}
 #main .deliveryCon .listWrap .box .boxBottom .boxBottomWrap { width: 100%;  }
 #main .deliveryCon .listWrap .box .boxBottom .boxBottomWrap .txt1 { display: flex;}
 #main .deliveryCon .listWrap .box .boxBottom .boxBottomWrap .txt1 .red {color: #E7342C; font-size: 16px; font-weight: 700; }
 #main .deliveryCon .listWrap .box .boxBottom .boxBottomWrap .txt1 .grey {color: #909090; font-size: 16px; font-weight: 700; }
 #main .deliveryCon .listWrap .box .boxBottom .boxBottomWrap .txt1 .txt1Left {color: #909090; font-size: 16px; font-weight: 700;margin: auto auto auto  0; }
 #main .deliveryCon .listWrap .box .boxBottom .boxBottomWrap .txt1 .txt1Right {margin: auto 0 auto auto;  }
 #main .deliveryCon .listWrap .box .boxBottom .boxBottomWrap .txt1 .txt1Right strong{vertical-align: baseline;  }
 
 #main .deliveryCon .listWrap .box .boxBottom .boxBottomWrap .brandWrap {display: block;  }
 #main .deliveryCon .listWrap .box .boxBottom .boxBottomWrap .brandWrap1 { padding-bottom:38px ; }
 #main .deliveryCon .listWrap .box .boxBottom .boxBottomWrap .brandWrap2 { border-top: 1px solid #E2E2E2; padding: 20px 0 0 0 ;}
 #main .deliveryCon .listWrap .box .boxBottom .boxBottomWrap .brandWrap .txt2 {display: flex; padding: 12px 0 20px 0 ; }
 #main .deliveryCon .listWrap .box .boxBottom .boxBottomWrap .brandWrap .txt2 .txt2Left{ position:relative; padding-right: 12px;}
 #main .deliveryCon .listWrap .box .boxBottom .boxBottomWrap .brandWrap .txt2 .txt2Left a{width: 80px;  position:relative; }
 #main .deliveryCon .listWrap .box .boxBottom .boxBottomWrap .brandWrap .txt2 .txt2Left a img{ width: 80px; height:80px;}
 #main .deliveryCon .listWrap .box .boxBottom .boxBottomWrap .brandWrap .txt2 .txt2Left .imgCap { position: absolute; top: 0;left: 0; border-radius: 6px;background: rgba(0,0,0, .5);}
 #main .deliveryCon .listWrap .box .boxBottom .boxBottomWrap .brandWrap .txt2 .txt2Left .imgCap a { width: 100%; height:100%;  }
 #main .deliveryCon .listWrap .box .boxBottom .boxBottomWrap .brandWrap .txt2 .txt2Left .imgCap a img { width: 100%; padding:11px; }
 

 #main .deliveryCon .listWrap .box .boxBottom .boxBottomWrap .brandWrap .txt2 .txt2Right{display: block; width: 100%;}
 #main .deliveryCon .listWrap .box .boxBottom .boxBottomWrap .brandWrap .txt2 .txt2Right .txt2Right_txt1 {width: 100%; }
 #main .deliveryCon .listWrap .box .boxBottom .boxBottomWrap .brandWrap .txt2 .txt2Right .txt2Right_txt1 a {line-height: 120%; font-size: 12px; color: #187AEF; text-decoration: none;}
 #main .deliveryCon .listWrap .box .boxBottom .boxBottomWrap .brandWrap .txt2 .txt2Right .txt2Right_txt1 a span {display: inline-block; }
 #main .deliveryCon .listWrap .box .boxBottom .boxBottomWrap .brandWrap .txt2 .txt2Right .txt2Right_txt1 a span i { font-size: 15px; font-weight: 400; vertical-align: bottom; }
 #main .deliveryCon .listWrap .box .boxBottom .boxBottomWrap .brandWrap .txt2 .txt2Right .txt2Right_txt2 {color: #1a1a1a; font-weight: 400; font-size: 14px; margin:4px 0; }
 #main .deliveryCon .listWrap .box .boxBottom .boxBottomWrap .brandWrap .txt2 .txt2Right .txt2Right_txt3 {width: 100%; display: flex;line-height: 140%;}
 #main .deliveryCon .listWrap .box .boxBottom .boxBottomWrap .brandWrap .txt2 .txt2Right .txt2Right_txt3 .txt3_sub1{ font-size: 14px; font-weight: 700; color: #1a1a1a; padding-right: 6px;  display: inline-block; }
 #main .deliveryCon .listWrap .box .boxBottom .boxBottomWrap .brandWrap .txt2 .txt2Right .txt2Right_txt3 .txt3_sub2{ font-size: 12px; font-weight: 400; color: #1a1a1a;display: inline-block;vertical-align: baseline; }
 #main .deliveryCon .listWrap .box .boxBottom .boxBottomWrap .brandWrap .txt2 .txt2Right .txt2Right_txt3 .txt3_sub3{margin: auto 0 auto auto; display: inline-block; }
 #main .deliveryCon .listWrap .box .boxBottom .boxBottomWrap .brandWrap .txt2 .txt2Right .txt2Right_txt3 .txt3_sub3 a{   text-decoration: none;font-size: 12px; font-weight: 400; color: #1a1a1a; padding:5px 8px ; border-radius: 4px; border: 1px solid #E2E2E2;}
 
 #main .deliveryCon .listWrap .box .boxBottom .boxBottomWrap .brandWrap .txt3 { width: 100%;}
 #main .deliveryCon .listWrap .box .boxBottom .boxBottomWrap .brandWrap .txt3 ul {display: flex;margin: 0; }
 #main .deliveryCon .listWrap .box .boxBottom .boxBottomWrap .brandWrap .txt3 .line1 {margin-bottom: 5px; }
 #main .deliveryCon .listWrap .box .boxBottom .boxBottomWrap .brandWrap .txt3 ul .btn2{ width: 50%; }
 #main .deliveryCon .listWrap .box .boxBottom .boxBottomWrap .brandWrap .txt3 ul .btn3{ width: 33.333%; }
 #main .deliveryCon .listWrap .box .boxBottom .boxBottomWrap .brandWrap .txt3 ul .buyfixBtn{  padding:0 2.5px; }
 #main .deliveryCon .listWrap .box .boxBottom .boxBottomWrap .brandWrap .txt3 ul .deliveryReserchBtn{ width: 100%; }
 #main .deliveryCon .listWrap .box .boxBottom .boxBottomWrap .brandWrap .txt3 ul li:first-child{ padding-right: 2.5px; }
 #main .deliveryCon .listWrap .box .boxBottom .boxBottomWrap .brandWrap .txt3 ul li:last-child{ padding-left: 2.5px; }
 #main .deliveryCon .listWrap .box .boxBottom .boxBottomWrap .brandWrap .txt3 ul li a{ display: block; width: 100%; white-space: nowrap; padding: 10px 0;  text-decoration: none; font-size: 14px; color: #565656; font-weight: 400; text-align: center; border-radius: 3px; border: 1px solid #E2E2E2;}