
@charset "UTF-8";
@import url(./reset.css);
@import url(./fonts.css);



#wrap1 { position: relative; width:100%; max-width:450px; margin:0 auto;display: block;  background: #fff;  }
#wrap1>#header { width:100%; max-width:450px; margin:0 auto;  background: #fff;/* #3D3F84; */ padding-bottom: 14px; }
#wrap1>#header.addHeader {  border-bottom: 1px solid #E6E6E6; }
#wrap1>#header .container{width:100%; padding: 0; } 

#wrap1>#header .container .top { padding:0 18px; display: flex; }
#wrap1>#header .container .top>li{width: 33.333%; display:inline-block; padding:14px 0 0 0 ; }
/*  header left */
#wrap1>#header .container .top>.left .leftWrap {  width:25px;  }
#wrap1>#header .container .top>.left .leftWrap .backBtn { width:25px;   }
#wrap1>#header .container .top>.left .leftWrap .backBtn a { width:25px;   padding:1px 0; }
#wrap1>#header .container .top>.left .leftWrap .backBtn a span { background:  url(../img/back.svg) no-repeat 0% 100%;  background-size:contain; width:25px; height:18px; display: inline-block;}

/* header medium */
#wrap1>#header .container .top>.medium {text-indent: -25px; text-align: center; color: #1A1A1A; font-size: 18px;font-weight: 400; white-space: nowrap; }

/* header  right */
#wrap1>#header .container .top>.right #aside {width: 100%;  }
#wrap1>#header .container .top>.right #aside .icon-box-gap { width:100%;  }
#wrap1>#header .container .top>.right #aside .icon-box-gap .icon-box {  width:100%;  }
#wrap1>#header .container .top>.right #aside .icon-box-gap .icon-box ul{float: right; box-sizing: border-box;white-space: nowrap;   }
#wrap1>#header .container .top>.right #aside .icon-box-gap .icon-box ul li { padding: 0 5px; text-align: center;display:inline-block; }
#wrap1>#header .container .top>.right #aside .icon-box-gap .icon-box ul li a  { width:23.5px; }
#wrap1>#header .container .top>.right #aside .icon-box-gap .icon-box ul li a img { color:#1A1A1A;  }
#wrap1>#header .container .top>.right #aside .icon-box-gap .icon-box ul li a em {padding:4.9px 4px; width:20px; height:20px; position:absolute; z-index:2; top:7px; right:14px; font-weight: 200; background-color: #E7342C; border-radius: 50%; font-size: 11px;box-sizing: border-box;line-height: 11px;}










#main  {width: 100%; height: auto;}

/* 내용리스트 */
#main .deliveryCon { position: relative; width: 100%; height:auto ;display:block;}
#main .deliveryCon.tab1Delect { display:block;  }
#main .deliveryCon .listWrap { width: 100%; font-family: 'SUIT'; padding: 0 18px 20px 18px; border-bottom: 7px solid #E2E2E2;  }
 /* box */
 #main .deliveryCon .listWrap .box { width: 100%;  border: 1px solid #E2E2E2; border-radius: 6px; font-family: 'SUIT';}
 /* box상단 */
 #main .deliveryCon .listWrap .box .boxTop {display: flex;  background: #F9F9F9; font-size: 12px;padding:11px 14px;  }
 #main .deliveryCon .listWrap .box .boxTop .boxLeft{ font-weight: 700; color: #1a1a1a;line-height: 120%; display: inline-block; }
 #main .deliveryCon .listWrap .box .boxTop .boxRight{ margin: auto 0 auto auto; color: #797979; text-align: right;line-height: 120%; display: inline-block;}
 #main .deliveryCon .listWrap .box .boxTop .boxRight span { display: inline-block; }
 #main .deliveryCon .listWrap .box .boxTop .boxRight span i { color: #797979;font-size: 15px; font-weight: 400; vertical-align:bottom;}
 
 
 /* box하단 */
 #main .deliveryCon .listWrap .box .boxBottom {  margin: 0;}
 #main .deliveryCon .listWrap .box .boxBottom .boxBottomWrap { width: 100%; }
 #main .deliveryCon .listWrap .box .boxBottom .boxBottomWrap .txt1 { display: flex;padding:20px 16px 0 16px;}
 #main .deliveryCon .listWrap .box .boxBottom .boxBottomWrap .txt1 .red {color: #E7342C; font-size: 16px; font-weight: 700; }
 #main .deliveryCon .listWrap .box .boxBottom .boxBottomWrap .txt1 .txt1Left {color: #909090; font-size: 16px; font-weight: 700; }
 #main .deliveryCon .listWrap .box .boxBottom .boxBottomWrap .txt1 .txt1Right {margin: auto 0 auto auto;  }
 #main .deliveryCon .listWrap .box .boxBottom .boxBottomWrap .txt1 .txt1Right strong{vertical-align: baseline;  }
 
 #main .deliveryCon .listWrap .box .boxBottom .boxBottomWrap .brandWrap {display: block;  }
 #main .deliveryCon .listWrap .box .boxBottom .boxBottomWrap .brandWrap .txt2 {display: flex; padding: 12px 16px 20px 16px; }
 #main .deliveryCon .listWrap .box .boxBottom .boxBottomWrap .brandWrap .txt2 .txt2Left{ position:relative; margin-right: 12px;}
 #main .deliveryCon .listWrap .box .boxBottom .boxBottomWrap .brandWrap .txt2 .txt2Left a{ width: 100%; position:relative; }
 #main .deliveryCon .listWrap .box .boxBottom .boxBottomWrap .brandWrap .txt2 .txt2Left a img{ width: 100%;min-width: 80px; }
 #main .deliveryCon .listWrap .box .boxBottom .boxBottomWrap .brandWrap .txt2 .txt2Left .imgCap { position: absolute; top: 0;left: 0; border-radius: 6px;background: rgba(0,0,0, .5);}
 #main .deliveryCon .listWrap .box .boxBottom .boxBottomWrap .brandWrap .txt2 .txt2Left .imgCap a { width: 100%; max-width: 80px; }
 #main .deliveryCon .listWrap .box .boxBottom .boxBottomWrap .brandWrap .txt2 .txt2Left .imgCap a img { padding:11px; }
 

 #main .deliveryCon .listWrap .box .boxBottom .boxBottomWrap .brandWrap .txt2 .txt2Right{display: block; width: 100%;}
 #main .deliveryCon .listWrap .box .boxBottom .boxBottomWrap .brandWrap .txt2 .txt2Right .txt2Right_txt1 {width: 100%; }
 #main .deliveryCon .listWrap .box .boxBottom .boxBottomWrap .brandWrap .txt2 .txt2Right .txt2Right_txt1 a {line-height: 120%; font-size: 12px; color: #187AEF; text-decoration: none;}
 #main .deliveryCon .listWrap .box .boxBottom .boxBottomWrap .brandWrap .txt2 .txt2Right .txt2Right_txt1 a span {display: inline-block; }
 #main .deliveryCon .listWrap .box .boxBottom .boxBottomWrap .brandWrap .txt2 .txt2Right .txt2Right_txt1 a span i { font-size: 15px; font-weight: 400; vertical-align: bottom; }
 #main .deliveryCon .listWrap .box .boxBottom .boxBottomWrap .brandWrap .txt2 .txt2Right .txt2Right_txt2 {color: #1a1a1a; font-weight: 400; font-size: 14px; margin:4px 0; }
 #main .deliveryCon .listWrap .box .boxBottom .boxBottomWrap .brandWrap .txt2 .txt2Right .txt2Right_txt3 {width: 100%; display: flex;line-height: 140%;}
 #main .deliveryCon .listWrap .box .boxBottom .boxBottomWrap .brandWrap .txt2 .txt2Right .txt2Right_txt3 .txt3_sub1{ font-size: 14px; font-weight: 700; color: #1a1a1a; padding-right: 6px;  display: inline-block; }
 #main .deliveryCon .listWrap .box .boxBottom .boxBottomWrap .brandWrap .txt2 .txt2Right .txt2Right_txt3 .txt3_sub2{ font-size: 12px; font-weight: 400; color: #1a1a1a;display: inline-block;vertical-align: baseline; }
 #main .deliveryCon .listWrap .box .boxBottom .boxBottomWrap .brandWrap .txt2 .txt2Right .txt2Right_txt3 .reOrder{margin: auto 0 auto auto; display: inline-block; }
 #main .deliveryCon .listWrap .box .boxBottom .boxBottomWrap .brandWrap .txt2 .txt2Right .txt2Right_txt3 .reOrder a{   text-decoration: none;font-size: 12px; font-weight: 400; color: #1a1a1a; padding:5px 8px ; border-radius: 4px; border: 1px solid #E2E2E2;}
 
 #main .deliveryCon .listWrap .box .boxBottom .boxBottomWrap .brandWrap .txt3 { width: 100%;padding:0 16px 20px 16px ;}
 #main .deliveryCon .listWrap .box .boxBottom .boxBottomWrap .brandWrap .txt3 ul{display: flex;margin: 0; }
 #main .deliveryCon .listWrap .box .boxBottom .boxBottomWrap .brandWrap .txt3 ul .btn2{ width: 50%; }
 #main .deliveryCon .listWrap .box .boxBottom .boxBottomWrap .brandWrap .txt3 ul li:first-child{ padding-right: 2.5px; }
 #main .deliveryCon .listWrap .box .boxBottom .boxBottomWrap .brandWrap .txt3 ul li:last-child{ padding-left: 2.5px; }
 #main .deliveryCon .listWrap .box .boxBottom .boxBottomWrap .brandWrap .txt3 ul li a{ display: block; width: 100%; white-space: nowrap; padding: 10px 0;  text-decoration: none; font-size: 14px; color: #565656; font-weight: 400; text-align: center; border-radius: 3px; border: 1px solid #E2E2E2;}

 #main .deliveryCon .listWrap .box .boxBottom .boxBottomWrap .brandWrap .txt4 { display: flex;  background: #F9F9F9; padding: 10px 18px;}
 #main .deliveryCon .listWrap .box .boxBottom .boxBottomWrap .brandWrap .txt4 div { display: inline-block; font-size: 14px; font-weight: 400; }
 #main .deliveryCon .listWrap .box .boxBottom .boxBottomWrap .brandWrap .txt4 div.txt4Right {   margin: auto 0 auto auto ;}
 #main .deliveryCon .listWrap .box .boxBottom .boxBottomWrap .brandWrap .txt4 div.txt4Right a{ color: #187AEF; }





        /* 사유 직접입력 */
        .resonWrap {padding: 20px 18px 20px 18px; border-bottom: 7px solid #E2E2E2; font-family: 'SUIT';}
        .resonWrap .resonInfo { width: 100%;}
        .resonWrap .resonInfo .titleBox {display: flex;}
        .resonWrap .resonInfo .titleBox .titleLeft {font-size: 16px; font-weight: 700; color: #1a1a1a;}
        .resonWrap .resonInfo .titleBox .titleRight {margin:auto 0 auto auto ;font-size: 16px; font-weight: 400; color: #1a1a1a;}
        .resonWrap .resonInfo .resonCon {font-size: 14px;  font-weight: 400;padding-top: 16px; line-height: 160%; }








 /* 회수지 정보 */
 #main .deliveryCon .deliveryInfoWrap {font-family: 'SUIT'; padding: 20px 18px 20px 18px; border-bottom: 7px solid #E2E2E2;}
 #main .deliveryCon .deliveryInfoWrap .deliveryInfo { width: 100%;}
 #main .deliveryCon .deliveryInfoWrap .deliveryInfo .titleBox {display: flex;}
 #main .deliveryCon .deliveryInfoWrap .deliveryInfo .titleBox .titleLeft {font-size: 16px; font-weight: 700; color: #1a1a1a;}
 #main .deliveryCon .deliveryInfoWrap .deliveryInfo .titleBox .titleRight {margin:auto 0 auto auto ;font-size: 16px; font-weight: 400; color: #1a1a1a;}
 #main .deliveryCon .deliveryInfoWrap .deliveryInfo .deliveryinfoBox { width: 100%; padding: 18px 0 0 0;}
 #main .deliveryCon .deliveryInfoWrap .deliveryInfo .deliveryinfoBox ul {  font-weight:400;}
 #main .deliveryCon .deliveryInfoWrap .deliveryInfo .deliveryinfoBox ul li {display: flex; padding: 5px 0;  }
 #main .deliveryCon .deliveryInfoWrap .deliveryInfo .deliveryinfoBox ul li:nth-child(1) {padding: 0 0 5px 0;}
 #main .deliveryCon .deliveryInfoWrap .deliveryInfo .deliveryinfoBox ul .address {word-wrap:break-word ;}
 #main .deliveryCon .deliveryInfoWrap .deliveryInfo .deliveryinfoBox ul li .left { width:82px;min-width: 80px; display:inline-block;color: #797979; font-size: 14px;}
 #main .deliveryCon .deliveryInfoWrap .deliveryInfo .deliveryinfoBox ul li .right {  font-size: 14px; text-align: left; display:inline-block;}






 /* 결제 정보 */
 #main .deliveryCon .priceInfoWrap {font-family: 'SUIT'; padding: 20px 18px 0 18px;border-bottom: 7px solid #E2E2E2; }
 #main .deliveryCon .priceInfoWrap .priceInfo { width: 100%;}
 #main .deliveryCon .priceInfoWrap .priceInfo .titleBox {display: flex;}
 #main .deliveryCon .priceInfoWrap .priceInfo .titleBox .titleLeft {font-size: 16px; font-weight: 700; color: #1a1a1a;}
 #main .deliveryCon .priceInfoWrap .priceInfo .titleBox .titleRight {margin:auto 0 auto auto ;font-size: 16px; font-weight: 400; color: #1a1a1a;}
 #main .deliveryCon .priceInfoWrap .priceInfo .priceinfoBox { width: 100%; padding: 18px 0 20px 0;}
 #main .deliveryCon .priceInfoWrap .priceInfo .priceinfoBox ul { display: block; font-weight:400; margin:0;} 
 #main .deliveryCon .priceInfoWrap .priceInfo .priceinfoBox ul li {display: flex; padding: 5px 0;  }
 #main .deliveryCon .priceInfoWrap .priceInfo .priceinfoBox ul li:nth-child(1) {padding: 0 0 5px 0;}
 #main .deliveryCon .priceInfoWrap .priceInfo .priceinfoBox ul li .left {display:inline-block; width: 170px; color: #797979; font-size: 14px;}
 #main .deliveryCon .priceInfoWrap .priceInfo .priceinfoBox ul li .right { display:inline-block; margin: auto 0 auto auto ; font-size: 14px;}


 /* 결제수단 */
 .paymentWay {font-family: 'SUIT'; padding: 20px 18px ;border-bottom: 7px solid #E2E2E2; }
 .paymentWay .paymentCon { width: 100%; }
 .paymentWay .paymentCon .titleBox {display: flex;}
 .paymentWay .paymentCon .titleBox .titleLeft {font-size: 16px; font-weight: 700; color: #1a1a1a;}
 .paymentWay .paymentCon .titleBox .titleRight {margin:auto 0 auto auto ;font-size: 16px; font-weight: 400; color: #1a1a1a;}
 
 .paymentWay .paymentCon .inputBoxCon { width: 100%; padding-top: 16px;}
 .paymentWay .paymentCon .inputBoxCon  .inputBox {display: block; width: 100%; }
 .paymentWay .paymentCon .inputBoxCon  .inputBox .input {display: block; padding:9px 0;width: 100%; margin-bottom: 8px;}
 .paymentWay .paymentCon .inputBoxCon  .inputBox .input input[type='checkbox'] { appearance: none; outline: none;  display: inline-block; width: 16px; height: 16px; background: url(../img/ico_check.svg) no-repeat 50% 50%; margin: -2px 6px 0 0; background-size: 16px 16px;}
 .paymentWay .paymentCon .inputBoxCon  .inputBox .input input[type='checkbox']:checked {  background: url(../img/ico_checked_squre_red.svg) no-repeat 50% 50%; margin: -2px 6px 0 0; background-size: 16px 16px;}
 .paymentWay .paymentCon .inputBoxCon  .inputBox .input small { font-size:10px ; color: #797979; margin-left: 4px; } 
 
 .paymentWay .paymentCon .inputBoxCon  .reserveFund {display: flex; }
 .paymentWay .paymentCon .inputBoxCon  .reserveFund .input {margin-bottom:0; }
 .paymentWay .paymentCon .inputBoxCon  .reserveFund .textInput { position:relative; }
 .paymentWay .paymentCon .inputBoxCon  .reserveFund .textInput input[type='text']  { position:relative; appearance: none; outline: none; border: 1px solid #E2E2E2; width:148px; height: 38px; border-radius: 4px; display: inline-block; }
 .paymentWay .paymentCon .inputBoxCon  .reserveFund .textInput span {position: absolute; top:10px; right: 10px;}





.term {font-family: 'SUIT'; padding: 20px 18px 90px 18px ;border-bottom: 7px solid #E2E2E2; }
.term .termCon {display: flex; }
.term .termCon .termLeft {display: flex; }
.term .termCon .termLeft .termcheckBox { }
.term .termCon .termLeft .termcheckBox input[type='checkbox'] {  appearance: none; outline: none;  display: inline-block; width: 18px; height: 18px; background: url(../img/circle_ico_uncheck.svg) no-repeat 50% 50%; margin: -4px 6px 0 0; background-size: 16px 16px;}
.term .termCon .termLeft .termcheckBox input[type='checkbox']:checked {  appearance: none; outline: none;  display: inline-block; width: 18px; height: 18px; background: url(../img/check_sm_circle.svg) no-repeat 50% 50%; margin: -4px 6px 0 0; background-size: 16px 16px;}
.term .termCon .termLeft .termTxt { font-size: 14px; font-weight: 400;}
.term .termCon .termLeft .termTxt .gray { color:#B3B3B3 ; }
.term .termCon .termRight {display: inline-block; margin:auto 0 auto auto;  width: 16px; height: 20px;}







/* 하단 빨간박스 버튼 */
.bottomBtn {font-family: 'SUIT'; z-index: 5; position: fixed; bottom:0;  width:100%; max-width: 450px;background:#fff; border-radius: 16px 16px 0 0;  border:1px solid #E2E2E2;}
.bottomBtn .btnWrap {padding: 12px;}
.bottomBtn .btnWrap .btnGap { margin: 0 auto; text-align: center;   background: #E7342C; border-radius: 3px;}
.bottomBtn .btnWrap .btnGap a { display: flex; display: inline-block; padding: 13px 0; }
.bottomBtn .btnWrap .btnGap a div {  font-size: 18px; display: inline-block; font-weight: 700; color: #fff; }
.bottomBtn .btnWrap .btnGap a .totalNum {  padding-right: 14px;}
















