@charset "UTF-8";
@import url(./reset.css);
@import url(./fonts.css);


/* 이미지 클릭시 확대 */
*{   width:100%; height: 100%;}
html, body {background: #fff; color: #fff;  }




#myPage { max-width:1280px;width:100%; height: 100%; background: #fff; margin: 0 auto;display: block; }
#myPage >.TopContainer {position: relative; width:100%; max-width:1280px; padding-top: 78px; margin: 0 auto;display: block;font-family: 'SUIT';}
/* 상단 로그인top */
#myPage >.TopContainer .topWrap{ position: absolute; top: 0; left: 0; display: flex; height: 52px; width:100%;  display: flex;color: #1A1A1A;  padding: 10px ;  }
#myPage >.TopContainer .topWrap .Top { text-align: center;  padding:0 18px;}
#myPage >.TopContainer .topWrap .Top .TopTxt {font-size: 18px; line-height: 190%; font-weight: 400; }
#myPage >.TopContainer .topWrap .Back {  width:30px; }
#myPage >.TopContainer .topWrap .Back a { width: 100%; }
#myPage >.TopContainer .topWrap .Back a img { width: 100%; }
/* 상단 로고 */
#myPage >.TopContainer .myPageContents {text-align: left; width: 100%; display: block; border-bottom: 7px solid #E2E2E2; }
#myPage >.TopContainer .myPageContents .myPageContentsWrap {  width: 100%; border-bottom: 7px solid #E2E2E2;}
#myPage >.TopContainer .myPageContents .myPageContentsWrap .myPageHello {  display: flex;  padding:0 18px;}
#myPage >.TopContainer .myPageContents .myPageContentsWrap .myPageHello .right { margin-left: 10px; font-size:16px; font-weight: 700;line-height: 140%; }
#myPage >.TopContainer .myPageContents .myPageContentsWrap .myPageHello .left { width: 42px; }
#myPage >.TopContainer .myPageContents .myPageContentsWrap .myPageHello .left img { width: 100%; }
#myPage >.TopContainer .myPageContents .myPageContentsWrap .loginBtn {width: 100%; padding:20px 18px 10px 18px; } 
#myPage >.TopContainer .myPageContents .myPageContentsWrap .loginBtn button { width: 100%; background: #fff; color: #FF5C38; font-size: 16px; font-weight: 700; border:1px solid #FF5C38; border-radius:6px ; padding: 8px 0; } 

#myPage >.TopContainer .myPageContents .customList {width: 100%;}
#myPage >.TopContainer .myPageContents .customList ul {width: 100%;margin: 0;}
#myPage >.TopContainer .myPageContents .customList ul li.title {font-weight:700; color: #343434; font-size: 16px;}
#myPage >.TopContainer .myPageContents .customList ul li {width: 100%; border-bottom:1px solid #E2E2E2 ; padding:11px 22px; display: flex;}
#myPage >.TopContainer .myPageContents .customList ul li {width: 100%; border-bottom:1px solid #E2E2E2 ; padding:11px 22px; display: flex;}
#myPage >.TopContainer .myPageContents .customList ul li span {background:url(../img/arr_my_more_right.svg) no-repeat; width: 24px; height: 28px; display: inline-block; }
#myPage >.TopContainer .myPageContents .customList ul li a {text-decoration: none; color:#343434 ; font-size: 14px; line-height: 180%;}
#myPage >.TopContainer .myPageContents .customList ul li a img {width: 20px; margin-right: 14px; }

#myPage >.TopContainer .myPageContents .bottomTxt {  padding: 14px 18px; background: #F9F9F9;border-bottom:1px solid #E2E2E2 ; line-height: 100%;}
#myPage >.TopContainer .myPageContents .bottomTxt>div{ padding-bottom: 11px;font-size: 12px; font-weight: 400; }
#myPage >.TopContainer .myPageContents .bottomTxt .smalltxt{ font-size: 12px;color: #797979; font-weight: 400; }
/* bannerimg */
#myPage >.TopContainer .myPageContents .imgBox {width: 100%; }
#myPage >.TopContainer .myPageContents .imgBox .imgGap {padding:20px 16px;}











/* footer */
#footer {z-index:1;position:relative;width:100%;height:auto; }
#footer .container {width:100%;max-width:1280px;height:auto;margin:0 auto; background: #F2F2F2;}
#footer .container .gap {width:100%; padding:20px 0;}
#footer .container .gap .wrap{width:100%;}
#footer .container .gap .wrap .content {width:100%;  }
#footer .container .gap .wrap .content .foot-content {width:100%;}
#footer .container .gap .wrap .content .foot-content li {font-family: 'SUIT'; margin:0 auto; color: #606060;font-size: 12px; text-align: center; font-weight: 400; display: block; }

#footer .container .gap .wrap .content .foot-content .foot1  { width:100%;display: block;}
#footer .container .gap .wrap .content .foot-content .foot1 ul {  margin: 5px auto; display: flex;}
#footer .container .gap .wrap .content .foot-content .foot1 ul li { margin:0 2px;display: inline-block;width: 33.333%;height:30px;background-color: #fff;border-radius: 5px;border:1px solid #B3B3B3; }
#footer .container .gap .wrap .content .foot-content .foot1 ul li a {display: inline-block; text-decoration:none; text-align: center; padding:6px 0;  color: #606060;font-size: 12px;   transition: all .3s;}
#footer .container .gap .wrap .content .foot-content .foot1 ul li:hover a { background-color: rgba(255, 255, 255, 0.719); color: #030303;}
#footer .container .gap .wrap .content .foot-content .foot1 ul li a:hover { color:#000; }

#footer .container .gap .wrap .content .foot-content .foot2  {color: #606060; font-size: 12px;font-weight: 300; }
#footer .container .gap .wrap .content .foot-content .foot2 h3 { font-size: 12px;font-weight: 300; margin:26px auto 5px auto; }
#footer .container .gap .wrap .content .foot-content .foot2 .tel {  display: flex;  }
#footer .container .gap .wrap .content .foot-content .foot2 .tel img {width:12px; height: 12px;margin: auto 0 auto auto;}
#footer .container .gap .wrap .content .foot-content .foot2 .tel p {font-size: 16px;font-weight: 700; margin: auto auto auto 5px; display: inline-block; width: auto;}
#footer .container .gap .wrap .content .foot-content .foot2 .email {padding: 12px 0 18px 0;}
#footer .container .gap .wrap .content .foot-content .foot2 .email li:nth-child(2) span { font-size: 14px;font-weight: 700;}
#footer .container .gap .wrap .content .foot-content .foot2 .email li a{ margin-left: 6px;  padding:3px 9px; font-size: 10px; font-weight: 300; text-decoration:none; border: 1px solid #B5B5B5; border-radius:15px;color: #606060;} 
#footer .container .gap .wrap .content .foot-content .foot2 .email li:hover a{ color: #000; background: rgba(255, 255, 255, 0.663);} 
#footer .container .gap .wrap .content .foot-content .foot2 .Registration { width: 100%;} 
#footer .container .gap .wrap .content .foot-content .foot2 .Registration .hide{ display: none; } 
#footer .container .gap .wrap .content .foot-content .foot2 .Registration .hide li {  width: 100%; } 
#footer .container .gap .wrap .content .foot-content .foot2 .Registration a { color: #606060; font-size: 12px;font-weight: 400; text-decoration:none;background:url(../img/Downarrow.png) no-repeat 100% 50%; width: 130px;display: inline-block;  } 


#footer .container .gap .wrap .content .foot-content .foot3  { padding:16px 0;}
#footer .container .gap .wrap .content .foot-content .foot3 ul {width: 100%; }
#footer .container .gap .wrap .content .foot-content .foot3 ul li {display: inline-block;  }
#footer .container .gap .wrap .content .foot-content .foot3 ul li a { text-decoration:none;  color: #606060;font-weight: 300; font-size: 12px; opacity: 1; transition: all .3s;}
#footer .container .gap .wrap .content .foot-content .foot3 ul li:nth-child(3) a {color: #565656; font-weight: 700;}
#footer .container .gap .wrap .content .foot-content .foot3 ul li:hover a { opacity: .9; }
#footer .container .gap .wrap .content .foot-content .foot3 ul li i { background-color: #606060; height: 10px; width: 1px; margin:0 5px; display: inline-block; }

#footer .container .gap .wrap .content .foot-content .foot4  { color: #606060; font-weight: 300; font-size: 10px; }


