@charset "UTF-8";
@import url(./reset.css);
@import url(./fonts.css);



#wrap1 { position: relative; width:100%; max-width:450px; margin:0 auto;display: block; height: 100vh; font-family: 'SUIT'; background: #fff;   }



    #header { z-index:4; position:fixed; top:0; width:100%; max-width:450px; height: 38px; margin:0 auto;  background: #fff;/* #3D3F84; */ }
    #header.addTop {  border-bottom: 1px solid #E6E6E6; }
    #header .container{width:100%; } 

    #header .container .top { padding-bottom: 5px; display: flex; height: 54px;padding: 0 18px; }
    #header .container .top.addTop { display: none; }
    #header .container .top>div{ width:50%;  }

    /*  header left */
     #header .container .top>.left {width:50%; margin:auto auto 8px 0;  }
     #header .container .top>.left div {width:100%; }
     #header .container .top>.left div span { width:63px;   }
     #header .container .top>.left div span a {width:100%;  }
     #header .container .top>.left div span a span{  background:  url(../img/logo.svg) no-repeat 0% 100%; background-size:contain; width:82px;height:22px; display: block; }
     #header .container .top>.left div span a span.addBg {background: url(../img/logo_c.png) no-repeat 0% 100%; background-size:contain;}
    /* header  right */
     #header .container .top>.right #aside { width:100%;}
     #header .container .top>.right #aside .icon-box-gap {  padding-top: 20px; }
     #header .container .top>.right #aside .icon-box-gap .icon-box {  width:100%;  }
     #header .container .top>.right #aside .icon-box-gap .icon-box ul{float: right; box-sizing: border-box;white-space: nowrap;   }
     #header .container .top>.right #aside .icon-box-gap .icon-box ul li { padding: 0 19px 0 0; text-align: center;display:inline-block;  }
     #header .container .top>.right #aside .icon-box-gap .icon-box ul li:last-child { padding:0 5px 0 0;   }
     #header .container .top>.right #aside .icon-box-gap .icon-box ul li a  { width:23.5px;  }
     #header .container .top>.right #aside .icon-box-gap .icon-box ul li a img { color:#1A1A1A;  }
     #header .container .top>.right #aside .icon-box-gap .icon-box ul li a em {padding:4.6px 4px;width:20px; height:20px; position:absolute; z-index:2; top:12px; right:14px; font-weight: 200; background-color: #E7342C; border-radius: 50%; font-size: 11px;box-sizing: border-box;line-height: 11px;}

    /* 메뉴 */
     #header .container .bottom{ width:100%;  display: block; padding:10px 0 0 0; height: 42px;}
     #header .container .bottom .bottom-wrap{ width:100%;}
     #header .container .bottom .bottom-wrap nav{ width:100%; padding: 0 18px;}
     #header .container .bottom .bottom-wrap nav>ul{ display: flex;}
     #header .container .bottom .bottom-wrap nav>ul>li{ text-align: center; width:25%; padding:0 18px; display: inline-block; font-family: 'SUIT'; white-space: nowrap; } 
     #header .container .bottom .bottom-wrap nav>ul>li:first-child{ margin:auto auto auto  0 ; padding-left:0;}
     #header .container .bottom .bottom-wrap nav>ul>li:last-child{ padding-right:0;margin:auto 0 auto auto; }
     #header .container .bottom .bottom-wrap nav>ul>li a { white-space: nowrap; display: inline-block; color:#1A1A1A; text-decoration: none;  font-size: 16px; font-weight: 300; line-height: 164%;transition: all .3s ease-in-out; }
     #header .container .bottom .bottom-wrap nav>ul>li:hover a {font-weight: 700; text-decoration: none; border-width: 0px 0px 2px 0px; white-space: nowrap;border-style: solid; color:#E7342C;  border-color: #E7342C; }
     #header .container .bottom .bottom-wrap nav>ul>li.addClass a {font-weight: 700;color:#E7342C;  text-decoration: none; border-width: 0px 0px 2px 0px; white-space: nowrap;border-style: solid; border-color: #E7342C;}





        .bottomBtnWrap.addTop  {display: none;}
        .bottomBtnWrap {display:block;display: flex; background: #fff; padding:12px 18px; }
        .bottomBtnWrap .lankBtnItem  {padding: 10px 0; display:inline-block; width:50%; text-align:center;background: #E9E9E9; border-radius: 10px; font-family:'SUIT';}
        .bottomBtnWrap .lankBtnItem.weeklyBtn { margin-right:5px; overflow: hidden; text-overflow:ellipsis ;}
        .bottomBtnWrap .lankBtnItem.lankBtn { margin-left:5px; overflow: hidden; text-overflow:ellipsis ;}
        .bottomBtnWrap .lankBtnItem a { color: #1A1A1A; font-size: 14px; font-weight: 400; white-space: nowrap;}
        /* 버튼 클릭했을때 이벤트 */
        .bottomBtnWrap .lankBtnItem.pressedBtnRed { background: #fff; border: 2px solid #E7342C;  }
        .bottomBtnWrap .lankBtnItem.pressedBtnRed a { color: #E7342C; font-weight: 700; font-size: 14px;  white-space: nowrap;}
        .bottomBtnWrap .lankBtnItem.pressedBtnRed a img.bkIcon { display: none; }
        .bottomBtnWrap .lankBtnItem.pressedBtnRed a img.redIcon { display: inline-block; }
        .bottomBtnWrap .lankBtnItem a img.redIcon { display: none; }
        .bottomBtnWrap .lankBtnItem a img { display: inline-block; height: 14px; width:15px; margin: -4px 3px auto auto;}








/* https://www.figma.com/file/tblbFFmNni1zJgjeEbFGcA/%EB%82%98%EC%8A%A4-%EC%9E%90%EC%82%AC%EB%AA%B0?node-id=26%3A2845 */
/* fixed 때문에 상단에 여백을 주어 섹션1을 보이게 해준다. */
/* 메인영역상단 padding-top:120px; */
#wrap1> #main{  position: relative;  width:100%; max-width:450px; overflow:visible; display:block;margin: 0 auto; padding:50px 0 0 0;font-family: 'SUIT'; }
	
#wrap1> #main> #section1{  width:100%; height:100%; padding:0; overflow: hidden; }
#wrap1> #main> #section1>.container {  width:100%; margin:0 auto;padding:0;background:#fff ; background-size: cover;}		
#wrap1> #main> #section1>.container>.gap{ width: 100%;}
/* #wrap1> #main> #section1>.container>.gap>.topWrap { display:block; z-index: 4; position:fixed; top:0; width:100%; max-width:450px; margin:0 auto;padding:15px 18px 10px 18px; border-top: 2px solid #000;background: #fff;}
#wrap1> #main> #section1>.container>.gap>.topWrap.addTop { border-bottom: 1px solid #E2E2E2; top:0; } */


/* dep1Wrap */
.dep1Wrap {padding-top: 40px;border-bottom: 7px solid #E9E9E9;}
.dep1Wrap .dep1Gap { padding: 12px 18px 16px 18px; border-bottom: 1px solid #E2E2E2; }
.dep1Wrap .dep1Gap .dep1Con {width: 100%;}
.dep1Wrap .dep1Gap .dep1Con .wholeCard {width: 100%;}
.dep1Wrap .dep1Gap .dep1Con .wholeCard .cardImg1 {z-index: 1;position: relative; overflow-y: hidden;width: 100%;max-height:240px;}
.dep1Wrap .dep1Gap .dep1Con .wholeCard .cardImg1 a {width: 100%;height: inherit;text-align:center;}
.dep1Wrap .dep1Gap .dep1Con .wholeCard .cardImg1 a img { width: 100%; border-radius: 6px; max-height: 240px;object-fit: cover; display: block; margin:auto;}

.dep1Wrap .dep1Gap .dep1Con .wholeCard .cardTxt { width: 100%; padding: 14px 0;}
.dep1Wrap .dep1Gap .dep1Con .wholeCard .cardTxt .cardTitle { font-size: 18px; color: #1A1A1A; font-weight: 700; line-height: 27px; }
.dep1Wrap .dep1Gap .dep1Con .wholeCard .cardTxt .txtSmall { color: #565656; font-size: 12px; font-weight: 400; padding-top: 2px; line-height: 18px;}


/* swipe */
.dep1Wrap .dep1Gap .dep1Con .swipeWrap {position: relative; width:100%; height: 80px; }
.dep1Wrap .dep1Gap .dep1Con .swipeWrap .swipeGap { z-index:3; position: relative; width:100%; }
.dep1Wrap .dep1Gap .dep1Con .swipeWrap .swipeGap .swipeCon { position: relative; display: flex; font-family: 'SUIT';}
.dep1Wrap .dep1Gap .dep1Con .swipeWrap .swipeGap .swipeCon .item {display: flex; position: relative; }
.dep1Wrap .dep1Gap .dep1Con .swipeWrap .swipeGap .swipeCon .item .swipeMedia {display: inline-block; position: relative; width: 80px;  height: 80px;}
/* heart */
.dep1Wrap .dep1Gap .dep1Con .swipeWrap .swipeGap .swipeCon .item .swipeMedia .heart {z-index:2;position:absolute; bottom:0;margin-bottom:4px; right:4px; width:26px; height: 26px; display: block;}
.dep1Wrap .dep1Gap .dep1Con .swipeWrap .swipeGap .swipeCon .item .swipeMedia .heart a{ width:26px; height: 26px; display: block; border-radius: 15px; background: 	rgba(68, 68, 68, .3); }
.dep1Wrap .dep1Gap .dep1Con .swipeWrap .swipeGap .swipeCon .item .swipeMedia .heart.addHeart a {  background: rgba(231, 56, 45, .3)  }
.dep1Wrap .dep1Gap .dep1Con .swipeWrap .swipeGap .swipeCon .item .swipeMedia .heart a img.redHeart { display: none; }
.dep1Wrap .dep1Gap .dep1Con .swipeWrap .swipeGap .swipeCon .item .swipeMedia .heart.addHeart>a>img.redHeart { display: block; position: relative; z-index: 5; display: block; width:100%;  padding: 8px 5px 5px 5px;}
.dep1Wrap .dep1Gap .dep1Con .swipeWrap .swipeGap .swipeCon .item .swipeMedia .heart.addHeart>a>img.blankHeart { display: none;}
.dep1Wrap .dep1Gap .dep1Con .swipeWrap .swipeGap .swipeCon .item .swipeMedia .heart a img {  width:100%;  padding: 8px 5px 5px 5px;}

/* img-box */
.dep1Wrap .dep1Gap .dep1Con .swipeWrap .swipeGap .swipeCon .item .swipeMedia .imgbox {z-index: 1; position: relative; width: 80px; height: 80px; display: block; }
.dep1Wrap .dep1Gap .dep1Con .swipeWrap .swipeGap .swipeCon .item .swipeMedia .imgbox a { width: 80px;  max-height: 80px; display: block;}
.dep1Wrap .dep1Gap .dep1Con .swipeWrap .swipeGap .swipeCon .item .swipeMedia .imgbox a img {position: relative; width: 80px; border-radius: 6px; max-height: 80px;object-fit: cover; display: block; margin:auto;}
/* swipeTxtBox */
.dep1Wrap .dep1Gap .dep1Con .swipeWrap .swipeGap .swipeCon .item .swipeTxtBox { display: inline-block; padding: 18px 0 21px 12px;}
.dep1Wrap .dep1Gap .dep1Con .swipeWrap .swipeGap .swipeCon .item .swipeTxtBox h3 { font-size: 12px; font-weight: 400; width: 233px; height: 18px; text-overflow: ellipsis; overflow: hidden; }
.dep1Wrap .dep1Gap .dep1Con .swipeWrap .swipeGap .swipeCon .item .swipeTxtBox .price {display: flex; }
.dep1Wrap .dep1Gap .dep1Con .swipeWrap .swipeGap .swipeCon .item .swipeTxtBox .price li {display: inline-block; padding-right: 4px; }
.dep1Wrap .dep1Gap .dep1Con .swipeWrap .swipeGap .swipeCon .item .swipeTxtBox .price .percent {color: #E7342C; font-weight: 700; font-size: 16px;  }
.dep1Wrap .dep1Gap .dep1Con .swipeWrap .swipeGap .swipeCon .item .swipeTxtBox .price .percent span { font-weight: 400; font-size: 12px; vertical-align: baseline;  }
.dep1Wrap .dep1Gap .dep1Con .swipeWrap .swipeGap .swipeCon .item .swipeTxtBox .price .disPrice {color: #1A1A1A; font-weight: 700; font-size: 16px; }
.dep1Wrap .dep1Gap .dep1Con .swipeWrap .swipeGap .swipeCon .item .swipeTxtBox .price .disPrice span { font-weight: 400; font-size: 10px; vertical-align: middle;  }
.dep1Wrap .dep1Gap .dep1Con .swipeWrap .swipeGap .swipeCon .item .swipeTxtBox .price .originPrice { line-height: 25px; text-decoration: line-through; color: #797979; font-weight: 400; font-size: 12px;  }
.dep1Wrap .dep1Gap .dep1Con .swipeWrap .swipeGap .swipeCon .item .swipeTxtBox .price .originPrice span { vertical-align: baseline;  }











/* 디폴트 2단형  상품리스트  */
.goodsContainer { display: block; }
.goodsContainer.addCardhid { display: none; }
.goodsContainer .goodsView { width:100%;  padding: 16px 18px; }

                            /* 전체 주간 판매많은순 영역 */
                            .optionContainer {  width:100%; max-width: 450px; }
                            .optionContainer .optionView { display: flex; padding:0 0 13px 0 ;}
                            .optionContainer .optionView .title { font-size: 14px; color: #1A1A1A; font-weight: 700; line-height: 21px; }



.goodsContainer .goodsView .goodsWrap { margin-bottom: 24px; position: relative; display: flex; justify-content: space-between;  flex-wrap: wrap;}
.goodsContainer .goodsView .goodsWrap .goods[data-intent='column-02'] { position: relative; width:50%; display:inline-block;  }
.goodsContainer .goodsView .goodsWrap .goods[data-intent='column-02'] a { display: block;   }
.goodsContainer .goodsView .goodsWrap .line1[data-intent='column-02']{ padding:0 6px 24px 0; }
.goodsContainer .goodsView .goodsWrap .line2[data-intent='column-02']{ padding:0 0 24px 6px;  }

.goodsContainer .goodsView .goodsWrap .goods .goodsBox .goodsText { position: relative; width:100%; border-radius: 6px; background: #fff;}
/* 2단형이미지 */
.goodsContainer .goodsView .goodsWrap .goods .goodsBox .goodsText .media { z-index:1; position: relative;  overflow: hidden; width:  100%;height:auto; }
.goodsContainer .goodsView .goodsWrap .goods .goodsBox .goodsText .media .img-box { position: relative;  height:auto;  width: 100%;  overflow: hidden;text-align:center;}
.goodsContainer .goodsView .goodsWrap .goods .goodsBox .goodsText .media .img-box img {z-index: 1; position:relative;  height:201px; width: 100%;  object-fit: cover; display: block;overflow: hidden; margin:auto; border-radius: 6px 6px 0 0;}


/* 2단형 이미지 위 하트  */
.goodsContainer .goodsView .goodsWrap .goods .heart {  z-index:2; position:absolute; bottom:0;margin-bottom:8px; right:8px; width:26px; height: 26px; display: block;}
.goodsContainer .goodsView .goodsWrap .goods .heart a{ width:26px; height: 26px; display: block; border-radius: 15px; background: 	rgba(68, 68, 68, .3); }
.goodsContainer .goodsView .goodsWrap .goods .heart.addHeart a {  background: rgba(231, 56, 45, .3);  }
.goodsContainer .goodsView .goodsWrap .goods .heart a img.redHeart { display: none; }
.goodsContainer .goodsView .goodsWrap .goods .heart.addHeart>a>img.redHeart { display: block; position: relative; z-index: 5; display: block; width:100%;  padding: 8px 5px 5px 5px;}
.goodsContainer .goodsView .goodsWrap .goods .heart.addHeart>a>img.blankHeart { display: none;}
.goodsContainer .goodsView .goodsWrap .goods .heart a img {  width:100%;  padding: 8px 5px 5px 5px;}





                                                @media screen and (max-width: 412px){
                                                    .goodsContainer .goodsView .goodsWrap .goods .goodsBox .goodsText .media .img-box img { height: 182px; }

                                                }
                                                @media screen and (max-width: 375px){
                                                    .goodsContainer .goodsView .goodsWrap .goods .goodsBox .goodsText .media .img-box img  { height: 163.67px; }

                                                }
                                                @media screen and (max-width: 360px){
                                                    .goodsContainer .goodsView .goodsWrap .goods .goodsBox .goodsText .media .img-box img  { height: 156px; }

                                                }
                                                @media screen and (max-width: 280px){
                                                    .goodsContainer .goodsView .goodsWrap .goods .goodsBox .goodsText .media .img-box img  { height: 116px; }

                                                }
                                                @media screen and (max-width: 220px){
                                                    .goodsContainer .goodsView .goodsWrap .goods .goodsBox .goodsText .media .img-box img  { height: 86px; }

                                                }

             
/* 2단형 txt박스 */
.goodsContainer .goodsView .goodsWrap .goods .goodsBox .goodsText>.txtBox {width:100%;font-family: 'SUIT';  padding:0 8px 8px 8px;  display: block; }
.goodsContainer .goodsView .goodsWrap .goods .goodsBox .goodsText>.txtBox>h3 {font-size: 14px; font-weight: 400; height: 36px; width: 100%; text-overflow: ellipsis; overflow: hidden; display: block; line-height: 18px; margin:8px 0 0 0; color:#1A1A1A; letter-spacing: -.5px; }
.goodsContainer .goodsView .goodsWrap .goods .goodsBox .goodsText>.txtBox>h4 {display: block; text-align: right; color:#909090;font-weight: 400;  font-size: 12px;  margin:5px 0 0 auto; text-decoration: line-through;}
.goodsContainer .goodsView .goodsWrap .goods .goodsBox .goodsText>.txtBox>.price {display: flex; margin: 0; overflow-x:hidden ;}
.goodsContainer .goodsView .goodsWrap .goods .goodsBox .goodsText>.txtBox>.price li {white-space: nowrap; }
.goodsContainer .goodsView .goodsWrap .goods .goodsBox .goodsText>.txtBox>.price li span {font-size: 14px; font-weight: 400; vertical-align: baseline;  }
.goodsContainer .goodsView .goodsWrap .goods .goodsBox .goodsText>.txtBox>.price li:first-child{font-size: 16px;  color:#E7342C; margin-right: 2px; font-weight: 700; }
.goodsContainer .goodsView .goodsWrap .goods .goodsBox .goodsText>.txtBox>.price li:last-child{margin:auto 0 auto auto; font-size: 18px;  color:#1A1A1A; font-weight: 700; text-align: right;}
.goodsContainer .goodsView .goodsWrap .goods .goodsBox .goodsText>.txtBox>.price li:last-child span{ font-size: 14px;vertical-align: baseline;  }
.goodsContainer .goodsView .goodsWrap .goods .goodsBox .goodsText>.txtBox>.starDelivery { display: flex;font-size: 12px; padding-top: 6.5px; }
.goodsContainer .goodsView .goodsWrap .goods .goodsBox .goodsText>.txtBox>.starDelivery .star   {margin:auto auto auto 0 ; display: block;  font-size: 12px;font-weight: 700; flex-flow: nowrap;box-sizing: border-box; color: #565656;}
.goodsContainer .goodsView .goodsWrap .goods .goodsBox .goodsText>.txtBox>.starDelivery .star i  {color:#DBDFE5; font-size: 13px; margin-top: -2px;vertical-align: baseline;  }
.goodsContainer .goodsView .goodsWrap .goods .goodsBox .goodsText>.txtBox>.starDelivery .star i.yellow  {color:#FFC10E; font-size: 13px; margin-top: -2px;vertical-align: baseline;  }
.goodsContainer .goodsView .goodsWrap .goods .goodsBox .goodsText>.txtBox>.starDelivery .star span{ font-size: 12px; font-weight: 400;vertical-align: baseline;   }






