@charset "UTF-8";
@import url(./reset.css);
@import url(./fonts.css);



#wrap1 { position: relative; width:100%; max-width:450px; margin:0 auto;display: block; height: 100vh;background: #fff;   }


/* https://www.figma.com/file/tblbFFmNni1zJgjeEbFGcA/%EB%82%98%EC%8A%A4-%EC%9E%90%EC%82%AC%EB%AA%B0?node-id=26%3A2845 */
/* fixed 때문에 상단에 여백을 주어 섹션1을 보이게 해준다. */
/* 메인영역상단 padding-top:120px; */
#wrap1> #main{width:100%; max-width:450px; overflow:visible; display:block;margin: 0 auto; padding:0;font-family: 'SUIT'; }
	
#wrap1> #main> #section1{  width:100%; height:100%; padding:0; }
#wrap1> #main> #section1>.container {  width:100%; margin:0 auto;padding:0;background:#fff ; background-size: cover;}		
#wrap1> #main> #section1>.container>.gap{ width: 100%;}
#wrap1> #main> #section1>.container>.gap>.topWrap { display:block; z-index: 4; position:fixed; top:0; width:100%; max-width:450px; margin:0 auto;padding:15px 18px 10px 18px; background: #fff;}
#wrap1> #main> #section1>.container>.gap>.topWrap.addTop { border-bottom: 1px solid #E2E2E2; top:0; }
/* 총0건 */
#wrap1> #main> #section1>.container>.gap>.topWrap .totalTxtWrap { width: 100%;padding: 24px 0 0 0; }
#wrap1> #main> #section1>.container>.gap>.topWrap .totalTxtWrap h2 { font-size: 16px; color: #1A1A1A; font-weight: 700; }




/* 인풋박스 */
#wrap1> #main> #section1>.container>.gap>.topWrap .inputWrap { position: relative; } 
#wrap1> #main> #section1>.container>.gap>.topWrap .inputWrap .inputBox { display: flex; } 
#wrap1> #main> #section1>.container>.gap>.topWrap .inputWrap .inputBox .backBtn {  display: inline-block; background:url(../img/back.svg) no-repeat 0 100%;  background-size:contain; width:30px; height:18px; margin-top:10px;} 
#wrap1> #main> #section1>.container>.gap>.topWrap .inputWrap input { position: relative; z-index: 5; font-size: 14px; padding: 10px 0; text-indent: 14px ; width: 100%; border-radius: 4px; border: 1px solid #797979;} 
#wrap1> #main> #section1>.container>.gap>.topWrap .inputWrap input:focus { position: relative; z-index: 5; font-size: 14px; padding: 10px 0;caret-color: #E7342C; text-indent: 14px ; width: 100%; border-radius: 4px; border: 1px solid rgba(231, 52, 44, .6);} 
#wrap1> #main> #section1>.container>.gap>.topWrap .inputWrap input[type=text] { appearance: none; outline: none; color: #1a1a1a;} 
#wrap1> #main> #section1>.container>.gap>.topWrap .inputWrap input::placeholder { color: #909090; } 
/* 찾기  돋보기 아이콘 검정 */
#wrap1> #main> #section1>.container>.gap>.topWrap .inputWrap .searchIcon {  z-index: 5; position: absolute; top:9px; right: 14px; width: 18px; height: 18px; display: block;} 
#wrap1> #main> #section1>.container>.gap>.topWrap .inputWrap .searchIcon.addhide { display: none;} 
#wrap1> #main> #section1>.container>.gap>.topWrap .inputWrap .searchIcon img { width: 100%; height: 100%; padding: 1px;} 
/* 클릭했을때 돋보기 빨강색으로 변하고 x버튼 나옴 */
#wrap1> #main> #section1>.container>.gap>.topWrap .inputWrap .focusWrap  {   display: none;  } 
#wrap1> #main> #section1>.container>.gap>.topWrap .inputWrap .focusWrap.addInput  { display: block; z-index: 5;position: absolute; top:9px; right:0; margin-right: 14px; width: auto;} 
#wrap1> #main> #section1>.container>.gap>.topWrap .inputWrap .focusWrap .searchIconhid {display: inline-block; } 
#wrap1> #main> #section1>.container>.gap>.topWrap .inputWrap .focusWrap .searchIconhid a img { width: 18px; height: 18px; padding: 1px;} 
#wrap1> #main> #section1>.container>.gap>.topWrap .inputWrap .box-dropDown { width: 100%;} 

/* 검색결과가 없습니다 컨텐츠 */
#wrap1> #main> #section1>.container>.gap .contentsWrap {padding-top: 150px;}
#wrap1> #main> #section1>.container>.gap .contentsWrap .contentsBox {}
#wrap1> #main> #section1>.container>.gap .contentsWrap .contentsBox .imgBox { width:80px; height: 80px; margin: 0 auto; display: block; }
#wrap1> #main> #section1>.container>.gap .contentsWrap .contentsBox .imgBox img{ width:80px; height: 80px;}
#wrap1> #main> #section1>.container>.gap .contentsWrap .contentsBox h5{text-align: center; }






/* section2 */
#section2{z-index: 5; position:fixed; bottom: 0; max-width:450px; width:100%;overflow:hidden;background:#fff; padding:20px 18px ;display:block; }	
#section2>.container{width:100%;}	
#section2>.container>.gap { position:relative; width:100%;margin:0; }
#section2>.container>.gap> .wrap { position:relative;width:100%;}
#section2>.container>.gap> .wrap> .content> h3 {display: flex;margin: 0 0 15px 0; color:#1a1a1a;font-size: 18px; font-weight: 800;  font-family: 'SUIT';}
#section2>.container>.gap> .wrap> .content> h3> span {  font-weight: 400; display: inline-block;  float:right; font-family: 'SUIT'; margin: auto 0 auto auto; white-space: nowrap;}	
#section2>.container>.gap> .wrap> .content> h3> span >a{ font-size: 12px; color:#797979; font-weight: 400; }
#section2>.container>.gap> .wrap> .content> h3> span >a> .material-icons{ font-size: 15px; color:#797979; font-weight: 300; background: none;}
		
#section2 .container .gap .wrap .content .slide-container {position: relative; width:100%; }
#section2 .container .gap .wrap .content .slide-container .slide-view {z-index:2; position: relative; width:100%;   }
#section2 .container .gap .wrap .content .slide-container .slide-view .slide-wrap { position:relative; display: flex;   }
#section2 .container .gap .wrap .content .slide-container .slide-view .slide-wrap:hover{ cursor: url(../img/icon-move-black.png),move; }
#section2 .container .gap .wrap .content .slide-container .slide-view .slide-wrap .slide { position: relative;   padding-right: 10px;  }
#section2 .container .gap .wrap .content .slide-container .slide-view .slide-wrap .slide .slide-text { width:124px; height: 237px; overflow: hidden;border-radius: 6px; background: #fff;}
#section2 .container .gap .wrap .content .slide-container .slide-view .slide-wrap .slide .slide-text .img-box .heart { z-index:3;position:absolute; top:50%;margin-top:-28px; right:17px; width:26px; height: 26px; display: block;}
#section2 .container .gap .wrap .content .slide-container .slide-view .slide-wrap .slide .slide-text .img-box .heart a{ width:26px; height: 26px; display: block; border-radius: 15px; background: 	rgba(68, 68, 68, .3);}
#section2 .container .gap .wrap .content .slide-container .slide-view .slide-wrap .slide .slide-text .img-box .heart.addHeart a {  background: rgba(231, 56, 45, .3)  }
#section2 .container .gap .wrap .content .slide-container .slide-view .slide-wrap .slide .slide-text .img-box .heart a img.redHeart { display: none; }
#section2 .container .gap .wrap .content .slide-container .slide-view .slide-wrap .slide .slide-text .img-box .heart.addHeart>a>img.redHeart { display: block; position: relative; z-index: 4; display: block; width:100%;  padding: 8px 5px 5px 5px;}
#section2 .container .gap .wrap .content .slide-container .slide-view .slide-wrap .slide .slide-text .img-box .heart.addHeart>a>img.blankHeart { display: none;}
#section2 .container .gap .wrap .content .slide-container .slide-view .slide-wrap .slide .slide-text .img-box .heart a img {  width:100%;  padding: 8px 5px 5px 5px;}
#section2 .container .gap .wrap .content .slide-container .slide-view .slide-wrap .slide .slide-text .img-box {width:124px;  }
#section2 .container .gap .wrap .content .slide-container .slide-view .slide-wrap .slide .slide-text .img-box a { width:124px; text-decoration: none; cursor: pointer; }
#section2 .container .gap .wrap .content .slide-container .slide-view .slide-wrap .slide .slide-text .img-box a img {width:100%;border-radius: 6px 6px 0 0;}

#section2 .container .gap .wrap .content .slide-container .slide-view .slide-wrap> .circle { width:58px; display: table; }
#section2 .container .gap .wrap .content .slide-container .slide-view .slide-wrap> .circle> .slide-text{  width:58px;display:table-cell ;  }
#section2 .container .gap .wrap .content .slide-container .slide-view .slide-wrap> .circle> .slide-text>.text-box h5{ text-align: center; white-space: nowrap; font-size: 12px; color:#434343; background:transparent;margin:5px 0;}
#section2 .container .gap .wrap .content .slide-container .slide-view .slide-wrap> .circle> .slide-text .img-box a { width:58px; }
#section2 .container .gap .wrap .content .slide-container .slide-view .slide-wrap> .circle> .slide-text .img-box a img {  width:100%; }


#section2 .container .gap .wrap .content .slide-container .slide-view .slide-wrap> li >.slide-text .text-box {width:100%;font-family: 'SUIT';  padding:0 8px 8px 8px;  }
#section2 .container .gap .wrap .content .slide-container .slide-view .slide-wrap> li >.slide-text .text-box h3 {font-size: 12px; font-weight: 400; height: 36px; width: 100%; text-overflow: ellipsis; overflow: hidden; display: block; line-height: 18px; margin:8px 0 0 0; color:#1A1A1A; letter-spacing: -.5px; }
#section2 .container .gap .wrap .content .slide-container .slide-view .slide-wrap> li >.slide-text .text-box h4 {display: block; text-align: right; color:#909090;font-weight: 400;  font-size: 10px;  margin:8px 0 0 auto; text-decoration: line-through;}
#section2 .container .gap .wrap .content .slide-container .slide-view .slide-wrap> li >.slide-text .text-box .price {display: flex; }
#section2 .container .gap .wrap .content .slide-container .slide-view .slide-wrap> li >.slide-text .text-box .price li {white-space: nowrap; }
#section2 .container .gap .wrap .content .slide-container .slide-view .slide-wrap> li >.slide-text .text-box .price li span {font-size: 14px; font-weight: 400;  }
#section2 .container .gap .wrap .content .slide-container .slide-view .slide-wrap> li >.slide-text .text-box .price li:first-child{font-size: 18px;  color:#E7342C; margin-right: 2px; font-weight: 700; }
#section2 .container .gap .wrap .content .slide-container .slide-view .slide-wrap> li >.slide-text .text-box .price li:last-child{margin:auto 0 auto auto; font-size: 16px;  color:#1A1A1A; font-weight: 700; text-align: right;}
#section2 .container .gap .wrap .content .slide-container .slide-view .slide-wrap> li >.slide-text .text-box .price li:last-child span{ font-size: 12px;  }
#section2 .container .gap .wrap .content .slide-container .slide-view .slide-wrap> li >.slide-text .text-box ul { display: flex;font-size: 12px; }
#section2 .container .gap .wrap .content .slide-container .slide-view .slide-wrap> li >.slide-text .text-box ul .star   {margin:auto auto auto 0 ; display: block;  font-size: 12px;font-weight: 700; flex-flow: nowrap;box-sizing: border-box; color: #565656;}
#section2 .container .gap .wrap .content .slide-container .slide-view .slide-wrap> li >.slide-text .text-box ul .star i  {color:#FFC10E; font-size: 12px; margin-top: -2px;  }
#section2 .container .gap .wrap .content .slide-container .slide-view .slide-wrap> li >.slide-text .text-box ul .star span{ font-size: 12px; font-weight: 400;  }








