@charset "UTF-8";
@import url(./reset.css);
@import url(./fonts.css);






        
/* 약관팝업 */
#popUp { display:block;/*임시로 block 처리해놓음 display:none;해야함*/ z-index:7; position: absolute; top:0; left: 0; width: 100% ; height: 100vh; background: rgba(0, 0, 0, 0.8);}
#popUp.addTermPop {display: block; opacity:1; }
#popUp .popUpwrap {width: 100%; font-family: 'SUIT'; }
#popUp .popUpwrap .popUp-gap { width: 100%;  }

#popUp .popUpwrap .popUp-gap .popUp-content { position:absolute; top:15%; left: 50%;padding:0 18px; margin-left: -162px; background: #fff; width: 324px; display: block; border-radius: 6px;}

/* 쿠폰 x버튼 */
#popUp .popUpwrap .popUp-gap .popUp-content .closeBtn-wrap {  display: inline-block; position: absolute; top:10px; right: 10px; text-align: right;}
#popUp .popUpwrap .popUp-gap .popUp-content .closeBtn-wrap .closeBtn {  display: inline-block;}
#popUp .popUpwrap .popUp-gap .popUp-content .closeBtn-wrap .closeBtn a {display: inline-block; width: 32px; }
#popUp .popUpwrap .popUp-gap .popUp-content .closeBtn-wrap .closeBtn a img {width: 100%;}
/* 제목 사용가능쿠폰 */
#popUp .popUpwrap .popUp-gap .popUp-content h2 {color: #1a1a1a; font-size: 18px; font-weight: 700; text-align: center; padding: 23px 0 19px 0; margin:0; line-height: 27px;}
#popUp .popUpwrap .popUp-gap .popUp-content .scrollBox {color: #1a1a1a; font-size: 12px; font-weight: 400; text-align: left;border-top:1px solid #E2E2E2; border-bottom:1px solid #E2E2E2;padding: 12px 0;  }


/* 팝업내용 없을때 최소 길이 height: 350px;  */
#popUp .popUpwrap .popUp-gap .popUp-content .scrollBox .scrollBoxInfo {margin:0;  overflow-y: none; height:100%; min-height: 276px;}
/* 팝업내용 많을때 최대 길이 height: 560px-> 이때 스크롤 생겨야함*/
#popUp .popUpwrap .popUp-gap .popUp-content .scrollBox .scrollBoxInfo {margin:0;  overflow-y: scroll; height:100%; max-height: 536px; }
/* 팝업안 컨텐츠 내용 스크롤바 스타일 */
#popUp .popUpwrap .popUp-gap .popUp-content .scrollBox .scrollBoxInfo::-webkit-scrollbar {  width: 4px;  }
#popUp .popUpwrap .popUp-gap .popUp-content .scrollBox .scrollBoxInfo::-webkit-scrollbar-thumb { width: 4px; height:209px;border-radius:10px;background-color: #D9D9D9; }
#popUp .popUpwrap .popUp-gap .popUp-content .scrollBox .scrollBoxInfo::-webkit-scrollbar-track { background-color: #fff; }



/* 마케팅 수신동의(선택) */
.marketingSelect {width: 100%; border-bottom: 1px solid #E2E2E2;}
.marketingSelect .marketingWrap { padding:20px 0 17px 0; margin: 0;}
.marketingSelect .marketingWrap li {display: flex; padding-bottom: 10px;}
.marketingSelect .marketingWrap li:last-child{padding-bottom:0; }
.marketingSelect .marketingWrap li .choose {display: flex;display: block; margin: auto auto auto 0; font-size: 12px; line-height: 18px; color: #1A1A1A; font-weight: 400;}
.marketingSelect .marketingWrap li .chooseInput [type=checkbox] { margin:0;appearance: none; outline: none; width: 18px; height: 18px;   background:url(../img/ico_check_my_none.svg) no-repeat 50% 50%; background-size: contain;cursor: pointer; }
.marketingSelect .marketingWrap li .chooseInput [type=checkbox]:checked {margin:0;appearance: none; outline: none; width: 18px; height: 18px; display: inline-block; background:url(../img/ico_check_my.svg) no-repeat 50% 50%; background-size: contain;cursor: pointer;   }



/*[선택] Nstore 회원 이용약관 동의  */
.termInPut {width: 100%;}
.termInPut .termInPutWrap { padding:17px 0 22px 0; margin: 0;}
.termInPut .termInPutWrap li {display: flex;}
.termInPut .termInPutWrap li .termText {display: flex; font-size: 14px; line-height: 20px;}
.termInPut .termInPutWrap li .termText .greyTerm {color: #909090;}
.termInPut .termInPutWrap li .termInput {display: inline-block; margin: auto 0 auto auto;}
.termInPut .termInPutWrap li .termInput [type=checkbox] { margin:0;appearance: none; outline: none; width: 22px; height: 22px;   background:url(../img/ico_check_my_none.svg) no-repeat 50% 50%; background-size: contain;cursor: pointer; }
.termInPut .termInPutWrap li .termInput [type=checkbox]:checked {margin:0;appearance: none; outline: none; width: 22px; height: 22px; display: inline-block; background:url(../img/ico_check_my.svg) no-repeat 50% 50%; background-size: contain;cursor: pointer;   }




